[2015-03-17 14:21] lrhazi opened #1 "Exception when calling select()"
[code]

Results in:

[code]

[2015-03-17 15:13] frensjan commented on #1
Hi Mohamed,

Could you elaborate on your environment?

I'm unable to reproduce the error. I have tested pyspark_cassandra against
* version __1.2.0__ of Spark as packaged by Cloudera in version __1.2.0+cdh5.3.2+369-1.cdh5.3.2.p0.17.el6__
* and version __1.2.0__ of the spark-core package for scala __2.10.4__.

It seems that the exception above was introduced in https://github.com/apache/spark/commi

[2015-03-17 15:55] lrhazi commented on #1
I am using this spark distribution file: spark-1.2.1-bin-hadoop2.4.tgz

Not sure about spark-core or scala versions! must be whatever was build into the above tarball?

[2015-03-17 19:58] brkyvz opened #2 "sbt-spark-package"
Hi,

Would you like to make an official release to the Spark Packages Maven Repository with this package?
Using the sbt-spark-package plugin everything will be handled for you, and Spark users will be able to use your package in their applications by simply:
`--packages TargetHolding/pyspark-cassandra:0.1.1`
with pyspark or spark-submit.

All you need to do is restructure the package by moving pyt

[2015-03-17 20:08] frensjan commented on #1
Sorry, didn't mean to close the issue just yet.

It seems that in Spark 1.2.1 a check has been added to protect users from shooting themselves in the foot by e.g. broadcasting an RDD or using a reference to an RDD. This 'check' is in my view a bit course because it is achieved by raising an exception in `__getnewargs__(...)`. This method is also invoked when using `copy.copy(...)`, and I used that

[2015-03-17 20:12] frensjan commented on #2
Sounds good! Thanks for pointing this out! I'll look into it as soon as I have the time.

[2015-03-17 21:54] lrhazi commented on #1
sorry, you mean I should check out head?

[2015-03-17 23:09] lrhazi commented on #1
Thanks Frens. 0.1.1 fixed my issue.

[2015-03-17 23:45] lrhazi opened #3 "Why is where() so slow?"
Sorry, this is more a question than an issue.. probably.

This takes few seconds:

[code]

While this takes 7 mins:

[code]

A pointer to where to read about the internals of this cassandra interfacing would be much appreciated.

Thanks a lot,
Mohamed.

[2015-03-18 02:59] frensjan commented on #1
Great, thanks for testing!

[2015-03-18 02:59] #1 closed

[2015-03-18 03:21] frensjan commented on #3
Hi,

No, worries. Maybe I'll open a forum somewhere someday. Until then an issue is fine.

pyspark_cassandra is thin layer over the Spark Cassandra Connector by DataStax, so their docs are a good starting point.

To give you an idea: the where clause is pushed down to Cassandra. I.e. without the where clause, simply the entire table is read and is fed through pyspark. In principle you could invoke

[2015-03-18 04:34] lrhazi commented on #3
Thanks Frens. I have some other issues with my cassandra cluster... still need to figure out. most of my cql queries, unless I use LIMIT to some small enough number, don't seem to execute at all, with no errors either. But anyways... here is the only table I have there, and it has some 180K rows.

How do I check how many partitions? you mean rdd partitions? The  cluster has 22 nodes.

[code]

[2015-03-18 07:48] frensjan commented on #3
I guess this is more related to the layout of your database than that it is related to a performance issue / bug / something which can be improved in pyspark cassandra or the spark cassandra connector. You could always ask around in the user@cassandra.apache.org mailing list.

You could test with by constraining only the `id` column in the where clause. I think this should be snappy with your sche

[2015-03-18 07:48] #3 closed

[2015-03-21 16:15] guzkiy opened #4 "error accessing cassandra table"
Hi Frens,

I get an error when try to do this:
[code]
Please find the stack trace below. The same thing works in Scala and I assume that proves that I have correct configuration of Cassandra adapter. I build the package from the latest source (make dist) and included pyspark_cassandra-0.1.1.jar into the driver classpath.

Please advise what to look for?

Many thanks,
Gene

[code]

[2015-03-21 16:24] guzkiy commented on #4
I forgot to mention, I run Spark 1.3, Cassandra 2.1

Here is the issue (running from Scala shell):

scala> val l = new pyspark_cassandra.PickleRowReaderFactory(pyspark_cassandra.RowFormat.DICT)
java.lang.NoClassDefFoundError: org/apache/spark/sql/catalyst/expressions/Row
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:760)
	at java.secur

[2015-03-22 04:49] frensjan commented on #4
Hi Gene,

Thanks for testing this against Spark 1.3.0! I haven't come around to this. An thanks for diving a bit deeper in into this matter than just posting the first stack trace!

The second stack trace indicates that `org.apache.spark.sql.catalyst.expressions.Row` is missing. This class isn't imported by pyspark_cassandra directly, but from the Spark Cassandra Connector, see [line 10 of Cassand

[2015-03-22 10:34] guzkiy commented on #4
Hi Frens,
Many thanks for your quick reply!
Below is what i have in my 'connector' directory (I did not build from the source). Needless to say I have all connector' jars in  a separate directory and no modifications to pre-built spark1.3 package has been done, except adding connector's jars to the classpath = so pyspark and scala shell are running with the same class path.
On the other note, the

[2015-03-24 21:52] frensjan commented on #4
I guess the difference is the Spark Cassandra connector by default yields `com.datastax.spark.connector.CassandraRow` instances while pyspark_cassandra uses `org.apache.spark.sql.cassandra.CassandraSQLRow`. I expect the later to be broken with Spark 1.3.0.

I changed pyspark_cassandra to use the former instead of the latter class. For pyspark_cassandra the additional functionality of the SQL versi

[2015-03-25 19:20] guzkiy commented on #4
Hi Frens,

tried, still no luck but different error
Please see below

<pyspark.conf.SparkConf object at 0x1053f16d0>

15/03/25 19:17:11 ERROR Utils: Uncaught exception in thread stdout writer for python2.7
java.lang.NoSuchMethodError: com.datastax.spark.connector.CassandraRow.fieldNames()Lscala/collection/IndexedSeq;
	at pyspark_cassandra.types.CassandraRowPickler.getFieldNames(CassandraRowPickler

[2015-03-25 20:05] frensjan commented on #4
I noticed that `fieldNames` and `fieldValues` in `CassandraRow` are indeed protected fields, and not public methods as they are in `CassandraSQLRow`. Weird that it did compile ...

I do feel guilty though for not catching this myself. Even though the compiler didn't catch it, running my tests should have. Unfortunately I was testing against pyspark_cassandra 0.1.0 :( which was still lingering arou

[2015-03-25 22:05] guzkiy commented on #4
could you please push it ?
I want to test agains Spark 1.3...

[2015-03-25 22:54] frensjan commented on #4
yep, just did

[2015-03-27 20:06] guzkiy commented on #4
Tested - can confirm it works. Many thanks for fixing!
Pls see below:
----------------------------------------------------------------------------------------------
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 1.3.0
      /_/

Using Python version 2.7.8 (default, Jul  2 2014 15:36:00)
SparkContext available as

[2015-03-27 20:23] frensjan commented on #4
Nice! Thanks for testing!

[2015-03-27 20:23] #4 closed

[2015-04-23 09:31] jenzopr opened #5 "Java module pyspark_cassandra not found"
Hi all,

I'm running Spark 1.3.1 (also tested with 1.3.0), python 2.7.8, Oracle JDK 1.7.0_67 and maven 3.2.3.
I cloned the repository and build the jar and egg files successfully. When using with the pyspark shell, I'm running into the following error:

[code]

It seems that one of the
[code]
fails from the context.py. Is there any way to track the error further? Any ideas?

Best,
Jens

[2015-04-23 09:51] frensjan commented on #5
Hi @jenzopr,

Thanks for trying out pyspark_cassandra. Sorry to hear that things aren't panning out with Spark 1.3.1.

I've been using pyspark_cassandra with Spark 1.2 myself. The readme incorrectly state compatibility with 1.3, which I have just corrected. Sorry for the confusion.

For starters the pom.xml of pyspark_cassandra specifies a dependency on Spark 1.2. So you've built against an other

[2015-04-23 11:06] jenzopr commented on #5
Hi Frens,

thanks for your fast answer. I'll try to use Spark 1.2 for the moment then. Do I need to rebuild the pyspark-cassandra connector, or is it sufficient to change the spark version? Does the underlying python version matter?

Best,
Jens

[2015-04-23 11:08] frensjan commented on #5
Shure! No, as the pom.xml is configured for 1.2 you should be good to go. I think any python 2.7 version should suffice.

Best regards,
Frens Jan

[2015-04-23 11:39] jenzopr commented on #5
Unfortunately not. I now used Spark 1.2.0 but the error persists:

jens@KI-V0124:~$ which pyspark
/mnt/software/x86_64/packages/spark/1.2.0/bin/pyspark
jens@KI-V0124:~$ pyspark --jars /mnt/software/x86_64/packages/spark/connectors/pyspark-cassandra/target/pyspark_cassandra-0.1.1.jar --py-files /mnt/software/x86_64/packages/spark/connectors/pyspark-cassandra/target/pyspark_cassandra-0.1.1-py2.7.egg

[2015-04-24 10:36] frensjan commented on #5
Could you try to add the ```pyspark_cassandra``` jar with the ```--driver-class-path``` flag like this:
[code]

Shouldn't be required (at least pyspark -h indicates that adding it with --jars should be enough), but I have ran into this issue as well.

[2015-04-24 11:45] jenzopr commented on #5
Perfect, works like intended. I cross-checked with spark 1.2.0, 1.2.1, 1.2.2 and 1.3.1 - the import works fine in those versions. Thanks a lot, Frens Jan!
I will try to investigate, why the --driver-class-path is required, although it shouldn't be.

[2015-04-24 19:12] brkyvz commented on #2
Hi @frensjan,

Did you have a chance to look at this? I was wondering if you would have any feedback about the process, about documentation, etc...

Thanks,
Burak

[2015-04-25 21:46] mjhb opened #6 "Exception on tables containing a Map collection column"
I'm getting an exception whenever attempting to access tables containing Map collections in PySpark.  Even a simple ```count()``` results in an exception.  Same results on with multiple tables containing a Map. This table loads successfully with Spark in spark-shell using the same spark-cassandra-connector. Tables without Map collections load successfully in PySpark.

python: 2.7.9
java:  Oracle 1

[2015-04-26 03:10] mjhb commented on #5
I can build and run pyspark-cassandra, but it throws an error when attempting to actually load and process a simple operation:
[code]

The error below looks similar to what I saw before Datastax updated their code to work with Spark-1.3.  Unfortunately I don't know maven well enough to understand from where you are pulling the Datastax connector, and which version that is.

build details:
java: Or

[2015-04-27 08:56] frensjan commented on #5
@jenzopr great! Thanks for pointing me to the spark issue. I'll mention this in the readme.

[2015-04-27 09:00] frensjan opened #7 "Spark 1.3 support"
I can build and run pyspark-cassandra with pyspark-1.3, but it throws an error when attempting to actually process a simple operation:
[code]

This example works with pyspark-1.2.2, and also with spark-shell-1.3.1 (scala), but fails with pyspark-1.3.1.

The error below looks similar to what I saw before Datastax updated their code to work with Spark-1.3.  Unfortunately I don't know maven well enou

[2015-04-27 09:02] frensjan commented on #7
@mjhb I moved your comment to a new issue because I mislabelled the other issue.

[2015-04-27 09:02] #5 closed

[2015-04-27 09:04] frensjan commented on #5
@mjhb reported that this does not work for him under Spark 1.3.1, his comment was moved to [a separate issue](https://github.com/TargetHolding/pyspark-cassandra/issues/7).

[2015-04-27 09:06] frensjan commented on #6
Thanks for the report @mjhb! I'm tracking down the problem. I only did minor testing on this feature. Apparently things _do_ work when there is only _one_ key in a map. I'll get back to you on this.

[2015-04-27 10:44] frensjan commented on #6
The issue is related how ```net.razorvine.pickle.custom.Pickler``` deals with registration of custom picklers for a type and some misunderstanding on the implementation scala maps on my part.

The ```Pickler``` class (modified for pyspark_cassandra) now supports checking super classes of an object to find the proper pickler. Efficiency can be debated about, but it's functional.

Using this improve

[2015-04-27 10:44] #6 closed

[2015-04-27 15:01] mjhb commented on #6
Confirmed!  I'm now able to count() or collect() the rdd that failed in the example above. This was a blocker, so I really appreciate the quick response.

[2015-04-27 15:16] frensjan commented on #6
Sure, happy to help

[2015-04-27 18:19] frensjan commented on #2
Hi @brkyvz,

Just gave it a go and much seems rather straight forward.

However, I do run into some trouble loading the package with the ``--package``` option. I.e. when I try:
[code]

I get:
[code]

While I have performed ```sbt spPublishLocal```. I noticed that the files mentioned in the pyspark console are indeed missing. There is e.g. a file like ```~/.ivy2/local/TargetHolding/pyspark-cassandr

[2015-04-27 18:20] frensjan commented on #2
note, that my progress on the matter is in the [2-sbt-spark-package](https://github.com/TargetHolding/pyspark-cassandra/tree/2-sbt-spark-package) branch

[2015-04-27 18:21] frensjan commented on #2
As for feedback, a small itch: I would like support for a src/main/python structure.

[2015-04-27 21:46] rustyrazorblade commented on #7
The connector had to be updated to work with 1.3, but it's not released yet.  I did a build off the connector master using `sbt publishLocal publishM2`, then updated this project's pom to use `1.3.0-SNAPSHOT`.  It builds without issue, but when I attempted this: `sc.cassandraTable("tutorial", "user")` I got the following error:

[code]

I don't know anything about the py4j stuff, hopefully this is

[2015-04-27 22:39] rustyrazorblade commented on #7
I've pushed up a branch with my changes to creep closer to 1.3 support.  https://github.com/rustyrazorblade/pyspark-cassandra/tree/spark13

I fixed the issue I listed above, but now I'm seeing this.

[code]

I don't know if there's anything that can be done about this, it feels like an issue w/ the connector.

[2015-04-27 22:54] rustyrazorblade commented on #7
Updated the java driver version to 2.1.5 which has that call, it appears to be functioning now.  I don't really recommend using my full branch, since it's dependent on linking against a non-released version of the connector, but if you really want to play with spark 1.3 & python (I do) it's working.

[2015-04-28 01:03] rustyrazorblade opened #8 "pyspark row doesn't play nicely with dataframes"
It may have made more sense to subclass the pyspark.sql.Row rather than try to copy it's functionality, as new features that are in spark 1.3, specifically dataframes, don't work out of the box.

[2015-04-28 02:01] rustyrazorblade commented on #8
I'm not a big fan of the way this spark code works - we'll need _infer_schema to work properly for data frames support.

https://github.com/apache/spark/blob/ab9128fb7ec7ca479dc91e7cc7c775e8d071eafa/python/pyspark/sql/_types.py#L573

[2015-04-28 03:57] mjhb commented on #7
Hi - thanks for wading in here.  I cloned your repo and switched to your spark13 branch, but am getting a build failure:

[code]

[2015-04-28 06:49] rustyrazorblade commented on #7
@mjhb did you do a local build of the spark connector?  You'll need to clone it and run `sbt publishLocal publishM2`

[2015-04-28 12:59] frensjan commented on #8
Wasn't that happy myself either. I'll look into it.

[2015-04-28 14:24] mjhb commented on #7
Was missing ```publishLocal publishM2``` - build now completes successfully, and PySpark can execute a simple task like ```sc.cassandraTable("test", "simple").count()```.

Nice work on your part - thanks.  Hoping to see your fork merged back in soon.

[2015-04-28 14:42] frensjan commented on #7
I'll look into merging it back. Doesn't seem like a lot of work.

Of course running in Spark 1.3.x is one thing. I reckon using Cassandra as a source for data frames 'as natively as possible' is something quite different. I expect that there is a lot of conversions going on from Java to python and back again with a naive approach. But I'll dig into this.

[2015-04-28 17:04] rustyrazorblade commented on #7
@frensjan If you're referring to the complexity of using Cassandra for DataFrames, it's quite simple.  In fact, any RDD can be transformed into a dataframe by calling `rdd.createDataFrame`.  For now I'll probably just add a simple helper to the cassandra data frame as a stop gap.  The ideal (from my POV, could be wrong) would be to use the `pyspark.sql.Row`, since there's hardcoded support for `Ro

[2015-04-28 19:14] frensjan commented on #7
@rustyrazorblade I was referring to performance. Agreed that when using python you might be willing to  sacrifice some performance. But one of the 'promises' of the data frames API is the ability to benefit from operations compiled into JVM byte code, optimizations from Catalyst, etc. As mentioned in the [dataframes introduction post](https://databricks.com/blog/2015/02/17/introducing-dataframes-i

[2015-04-28 19:18] rustyrazorblade commented on #7
I couldn't say for sure, but I'm a bit skeptical about pyspark's performance.  My understanding is that any operation you do, from a simple map, filter, etc, to DataFrames is going to involve a lot of data going back and forth between the python interpreter and the JVM.  It's not like lambdas are being converted into scala functions and applied there.

[2015-04-28 19:27] brkyvz commented on #2
Hi Frens,
Thank you for trying out the tool. The mismatch between `spPublishLocal` and what Ivy looks for is annoying. I believe the problem is that in `Spark`, we assume all repositories will have a Maven Style layout when you add them through `--repositories`. I'll submit a fix for that in Spark, so that the local ivy and maven caches are picked up properly.

Regarding support for `src/main/pyth

[2015-04-28 19:30] frensjan commented on #7
Sure, although theoretically possible, I don't expect python functions to be compiled to JVM bytecode. (although perhaps with Jython it might be _that_ far fetched ...).

But there are many operations on a ```DataFrame``` which operate on a higher level of abstraction. E.g. ```groupBy```, ```agg```, ```orderBy``` and I think also ```filter``` don't accept a Python function, but e.g. a column name

[2015-04-28 21:36] frensjan commented on #8
I went for the easy way out for now: the issue was that the pyspark_cassandra Row wasn't iterable, now it is. If time permits I'll change to the ```pyspark.sql.types.Row``` implementation.

[2015-04-28 21:36] #8 closed

[2015-04-28 21:55] frensjan opened #9 "Efficient loading of a Cassandra CQL table as Spark DataFrame"
Support for Spark 1.3 is resolved as indicated in #7 and #8. However, the support for data frames is implemented rather naively. Data is loaded from Cassandra, into Spark on the JVM side, then loaded into the python worker process to be converted back to a ```org.apache.spark.sql.DataFrame```. Clearly, this can be greatly improved.

[2015-04-28 21:55] frensjan commented on #7
I have implemented 1.3.x compatibility in the master branch for pyspark_cassandra. The module is built against Spark core 1.3.1 and Spark Cassandra Connector 1.2.0-rc3. So there is no need to do a local build of Spark Cassandra Connector. Just check out the master branch of pyspark_cassandra and execute ```make dist```.

@rustyrazorblade, @mjhb could you guys confirm? Thanks!

For Spark 1.3 suppor

[2015-04-28 21:55] #7 closed

[2015-04-28 23:16] rustyrazorblade commented on #8
I don't think this is working correctly.  Rows that are being turned into data frames look like this:

`Row(_1=u'bacon', _2=u'Jon')`, missing the correct field names.

[2015-04-28 23:21] rustyrazorblade commented on #8
Compare, for instance, when I manually fix the schema:

[code]

[2015-04-28 23:45] rustyrazorblade commented on #8
A temporary workaround for existing code:

[code]

Looking at the spark code at https://github.com/apache/spark/blob/ab9128fb7ec7ca479dc91e7cc7c775e8d071eafa/python/pyspark/sql/_types.py#L573, we see this:

[code]

Adding this to the Struct class seems to work:
[code]

[2015-04-28 23:47] rustyrazorblade commented on #9
Isn't this a fundamental issue with Spark in general?  Is it any different if you're pulling data back out of HDFS?

[2015-04-29 05:38] mjhb commented on #7
Confirmed - builds and passes simple tests in pyspark.  Thanks!

I poked around with DataFrames a little - column names don't seem to be coming through correctly:
[code]

Table schema:
[code]

[2015-04-29 06:51] rustyrazorblade commented on #7
@mjhb see https://github.com/TargetHolding/pyspark-cassandra/issues/8 for solution

[2015-04-29 06:52] frensjan commented on #8
@rustyrazorblade and @mjhb I take it you guys are building Spark from the master branch? There is a ```spark/python/pyspark/sql/types.py``` file in the 1.3 branch. I tested against the 1.3.0 and 1.3.1 pre-built releases taken from [https://spark.apache.org/downloads.html].

Apparently the guys at Spark don't care to much about stability of the internal 'API'. The 1.3.1 release performs the followi

[2015-04-29 06:56] rustyrazorblade commented on #8
I'm using spark 1.3.1 release, and building off master for all my work with this lib.

I'm not sure how useful adding a field to an existing Row, as everything by default in spark is immutable.  You'd want to create new Rows, rather than updating an existing one.  However, it's probably not going to be a problem any further in 1.3 so I don't really see any reason to change it now either.

[2015-04-29 06:59] rustyrazorblade opened #10 "add saveToCassandra to DStream"
To support Cassandra on streaming we need to add saveToCassandra to the TransformedDStream.

[2015-04-29 07:24] frensjan commented on #8
I didn't experience the issue with the 1.3.1 pre-built release.

Well, adding a field is useful in transforming (mapping) an rdd. I'm not getting at making immutable RDD's mutable. E.g. when some derived field is used over and over again, it's convenient to just calculate it once in a map call and then cache the rdd.

Silly example, but say I have a table with circles which have a radius, and I wa

[2015-04-29 07:48] frensjan commented on #9
Off-topic:
Well, in general, Spark is dropping a lot of possible performance gain by introducing a collocated JVM instead of integrating with another JVM. Of course a) this is not always possible (not all sources are JVM based) and b) this is a much more difficult integration point. But obviously if Spark could e.g.  with Cassandra read and write directly from within the Cassandra JVM and possibly

[2015-04-29 14:22] mjhb commented on #8
FYI - I am building Spark from branch 'branch-1.3'.

DataFrames is working much better this morning - I was able to complete the relevant exercises from the SparkSQL and DataFrame Guide (https://spark.apache.org/docs/latest/sql-programming-guide.html) using a small table from Cassandra.

Thanks!

[2015-04-29 15:09] frensjan commented on #8
Thanks, yes I noticed that also in branch 1.3 the name of __FIELDS__ was changed. Good to hear that the DF functionality is working!

[2015-04-29 15:21] rustyrazorblade commented on #9
I hadn't realized that loading up a cassandra table into a dataframe would cause the table data to go from JVM to Python to JVM again.  If that's the case, I completely agree avoiding that would be a good thing :)

To the point of putting spark & cassandra in the same process, that's beyond my current knowledge, but I agree conceptually.  Happy to help test it out though.

[2015-04-29 17:16] frensjan commented on #10
I'm looking into this. Why do you suggest that ```saveToCassandra``` should be monkey patched into ```TransformedDStream```? I'd rather monkey patch ```DStream```.

[2015-04-29 17:36] rustyrazorblade commented on #10
I was just going off the error, Dstream probably works.
On Wed, Apr 29, 2015 at 10:16 AM Frens Jan Rumph <notifications@github.com>
wrote:

[2015-04-29 23:13] rustyrazorblade commented on #10
PR up https://github.com/TargetHolding/pyspark-cassandra/pull/11

[2015-05-02 01:02] frensjan commented on #10
```saveToCassandra``` supported on ```pyspark.streaming.dstream.DStream``` in main branch. Also implemented some improvements in efficiency of ```saveToCassandra``` using batched pickling and unpickling.

[2015-05-02 01:02] #10 closed

[2015-05-02 01:04] frensjan opened #12 "Support 'span by key' and friends"
Support ```RDDFunctions.spanBy(...)``` and ```PairRDDFunctions.spanByKey(...)``` for efficient grouping by partition / cluster keys.

[2015-05-02 01:06] frensjan opened #13 "Support take and limit"
Support ```take(num)``` and ```limit(num)``` on CassandraRDD.

[2015-05-02 01:07] frensjan opened #14 "Support joining with Cassandra tables (for RDD's and DStreams)"
Support ```joinWithCassandraTable(...)``` on ```RDDFunctions``` and ```DStreamFunctions```

[2015-05-02 01:08] frensjan opened #15 "Support repartitioning by cassandra replica"
Support ```repartitionByCassandraReplica(...)``` on ```RDDFunctions``` and ```DStreamFunctions```.

[2015-05-02 01:12] frensjan opened #16 "Expose functionality similar to CassandraConnector.withSessionDo"
E.g. for small writes / reads directly from / to Cassandra is much more convenient than using ```sc.cassandraTable(...)``` and ```rdd.saveToCassandra(...)```.

Perhaps using ```CassandraConnector.withSessionDo``` isn't such a good idea. Maybe look into integrating the Datastax python CQL driver?

[2015-05-02 01:14] frensjan opened #17 "Selectively store columns in saveToCassandra"
In the ```saveToCassandra``` the columns argument can be set to indicate which columns to save. This should work for dicts and rows. It is configured in the builder in the current branch. But not really implemented on the JVM side of things.

[2015-05-02 01:45] frensjan opened #18 "Add tests for DataFrames support"

[2015-05-02 01:45] frensjan opened #19 "Add tests for Streaming support"

[2015-05-02 01:45] frensjan opened #20 "Add test for set and list collection types"

[2015-05-02 01:46] frensjan opened #21 "Add unit test for the inet type"

[2015-05-02 01:46] frensjan opened #22 "Add test for user defined types support"

[2015-05-02 01:46] frensjan opened #23 "Add test for counters"

[2015-05-02 09:00] frensjan commented on #2
@brkyvz, I'm having another go at this, because I really want pyspark_cassandra usage to move beyond cloning, building etc. I'm testing now by symlinking the .pom and .jar file in the ivy repository, so that it looks like a maven repository. However, while things seem to pan starting the console (i.e. it indicates ```found TargetHolding#pyspark-cassandra;0.1.4 in repo-1```), I can't import the pys

[2015-05-02 09:06] frensjan commented on #2
I expect not being able to load the java class has something to do with [SPARK-5185](https://issues.apache.org/jira/browse/SPARK-5185).

This does work:
[code]
I'll check if I can clean this up.

I don't have any ideas about the inability to load the python module though.

[2015-05-02 09:41] frensjan commented on #2
Working around the classloader issue mentioned above - afaik - would require quite the explosion of code. I.e. this :
[code]
would turn into this:
[code]
And I fear that this is only a very very simple case ... so I'm not going to go down that route any further.

Suggestions are welcome!

[2015-05-02 15:38] frensjan commented on #2
Turned out to be easier then I thought. I took another look at the kafka streaming module for pyspark and applied a similar approach. So I worked around SPARK-5185.

I have published 0.1.4 to spark packages and see really different behaviour than when I use ```sbt spPublishLocal```. The python module does seem to load, but it seems as if it is using cached code or something. (an exception is raise

[2015-05-02 15:40] frensjan commented on #5
@jenzopr Thanks again for pointing at SPARK-5185. I've followed a workaround which removes the need to use --driver-class-path.

[2015-05-02 19:10] brkyvz commented on #2
Hi Frens,
Thank's for the feedback. Regarding your last issue, I think Ivy is picking up your previous version from `~/.ivy2/jars`. You may need to clear out that folder, and also remove the folder from `~/.ivy2/cache`.

[2015-05-03 06:15] frensjan commented on #2
Thanks @brkyvz! I already took care of the jars folder, but missed the cache folder (doh!). Seems to work! Testing is a bit awkward but this should make things for users a _lot_ easier! Thanks!

[2015-05-03 06:15] #2 closed

[2015-05-05 06:25] frensjan opened #24 "Support Spark Cassandra Connector version 1.2.0"

[2015-05-05 09:06] #24 closed

[2015-05-06 02:01] rustyrazorblade opened #25 "AttributeError: 'TransformedDStream' object has no attribute 'saveToCassandra'"
Just tried to use streaming with master, it's still not completely functional.  Not sure exactly what changed between my branch https://github.com/rustyrazorblade/pyspark-cassandra/tree/streaming_support and this though.

I'm not sure why it would matter (or did matter) but when I was working on streaming it made a difference how I monkey patched my DStream.  Specifically, I needed to do this:

[c

[2015-05-06 05:33] frensjan commented on #25
Hi Jon,

Streaming support for Cassandra is enabled by importing pyspark_cassandra.streaming as mentioned in https://github.com/TargetHolding/pyspark-cassandra/blob/master/README.md#pyspark_cassandrastreaming and the streaming example below it. This is analogue to 'regular' Spark + Cassandra.

Cheers,
Frens

On 6 May 2015 4:01 am, Jon Haddad <notifications@github.com> wrote:

Just tried to use str

[2015-05-06 06:23] frensjan commented on #25
Hi Jon,

Streaming support for Cassandra is enabled by importing pyspark_cassandra.streaming as mentioned in the streaming section in the [readme](https://github.com/TargetHolding/pyspark-cassandra/blob/master/README.md#pyspark_cassandrastreaming) and the streaming example below it. This is analogue to 'regular' Spark + Cassandra.

Cheers,
Frens

[2015-05-06 06:24] #25 closed

[2015-05-06 16:19] rustyrazorblade commented on #25
That worked, but it's a weird nuance.  I believe my version works either way.  What's the advantage of having to explicity import `pyspark_cassandra.streaming`?

[2015-05-06 18:50] frensjan commented on #25
A little bit, I agree. But a) pyspark.streaming is packaged independently so may not be available and b) this allows me to do 'heavier' stuff later on in ```pyspark_cassandra.streaming```.  A ```try ... except ImportError``` will go a long way of course, but maybe spark streaming might be loaded somewhere later in a driver program or something, this seemed like the option with the most 'clarity'.

[2015-05-06 20:17] rustyrazorblade commented on #25
The version I had just PR'ed made the streaming monkey patch on any import of any pyspark streaming lib.  It was different from the original PR I had posted which patched streaming no matter what (even if streaming wasn't available. yikes).  I believe if someone imports *anything* from pyspark_cassandra.streaming it should automatically monkey patch the streaming lib, rather than have the caveat o

[2015-05-06 20:47] frensjan commented on #25
I noticed that your PR is different from your first PR on streaming. But is it still necessary to merge? Instead of
[code]

You suggest:
[code]
Maybe my python is poor, but isn't this the same thing?

[2015-05-06 20:47] frensjan commented on #25
So ... I'm a bit confused.

It does work with the current master branch of ```pyspark_cassandra``` right?

If I run
[code]

And I evaluate ```ks.saveToCassandra``` I get
[code]

[2015-05-06 20:50] rustyrazorblade commented on #25
Oh, my mistake.  I went back and looked at my old code and I wasn't importing anything from pyspark_cassandra.streaming - my bad.

[2015-05-06 20:51] frensjan commented on #25
No worries!

[2015-05-12 08:25] c19 opened #27 "consider provide api for hand write cql?"
[code]

[code]

[code]

[2015-05-12 08:30] frensjan commented on #27
Hi @c19. Thanks for your interest. I don't really get your question or suggestion though. Can you elaborate?

You can ommit the ```.select("*")``` if you want to select all fields. As for support for limit, issue #13 already covers that.

[2015-05-12 09:39] c19 commented on #27
Hmm, that means something else wrong with `sc.cassandraTable("logs", "logs").select("*").collect()`, right?
[code]

I think it may didn't find the cassandra..
this error is the same when i provide it with a wrong cassandra host.
and the table do exists.

[code]

--conf spark.cassandra.connection.host=10.251.91.131 didn't specify the cassandra host?

[2015-05-12 10:16] frensjan commented on #27
could you give ```sc.cassandraTable("logs", "logs").take(10)``` a try?

[2015-05-12 10:16] #27 closed

[2015-05-12 11:07] c19 commented on #27
hmm, sc.cassandraTable("logs", "logs").take(10) give out 10 records.
I couldn't understand.. why is that sc.cassandraTable("logs", "logs").select("*").collect() doesn't work.

[2015-05-12 11:09] c19 commented on #27
and sc.cassandraTable('logs','logs').select("type").take(10) works too.

[2015-05-12 14:53] frensjan commented on #27
```sc.cassandraTable(...).take(10)``` yields ten results ... because the ```take``` method just dus that. It takes ```n``` elements from an RDD. Similarly ```first()``` takes just the first element. ```collect()``` takes _all_ elements from an RDD. Please check out the [Spark programming guide](spark.apache.org/docs/1.3.1/programming-guide.html) for more information.

```sc.cassandraTable("logs",

[2015-05-13 01:55] c19 commented on #27
I see, to select all fields[ .select("*")] just ignore the select method and use `sc.cassandraTable(...).take(n)`.

[2015-05-13 05:51] frensjan commented on #27
Indeed!

```sc.cassandraTable(...)``` yields a CassandraRDD on which you can perform all operations which you can perform on any other RDD. Like ```map```, ```filter```, ```count``` and ```collect```.

In addition, you can perform ```select```, ```where``` and ```spanBy``` on a CassandraRDD. The first two push down projection and selection operators to Cassandra for efficiency. The last one allows

[2015-05-14 23:16] lucamartinetti opened #28 "Expose rdd.spanByKey and rdd.spanBy"
spark-datastax-connector offers the great feature rdd.SpanByKey

https://github.com/datastax/spark-cassandra-connector/blob/master/doc/3_selection.md#grouping-rows-by-partition-key

It would be great to have it available in pyspark

[2015-05-14 23:27] #28 closed

[2015-05-14 23:39] frensjan commented on #28
Hi @lucamartinetti, an initial implementation is available and a ticket #12 would be the go-to-ticket. See [pyspark_cassandra.rdd](https://github.com/TargetHolding/pyspark-cassandra/blob/master/python/pyspark_cassandra/rdd.py#L99). It wasn't yet included in the readme as an example, I'll fix that right away.

If you have any feedback on this feature, let me know.

[2015-05-14 23:42] frensjan commented on #12
An initial implementation is available, but efficiency might be boosted quite a lot if the spanned elements could be presented as numpy arrays / a pandas DataFrame. This would a) be a convenient format to work with and b) most likely more efficient in communication between Spark and Pyspark.

[2015-05-15 18:13] lucamartinetti commented on #12
I would love these methods signatures to be equivalent to the scala api.

It is not clear to me if this is the intended usage:
[code]

It would be more natural if they returned an RDD instead of a spanning_iterator.
[code]

[2015-05-15 19:33] frensjan commented on #12
Hi @lucamartinetti, Fully agree ... I'll change this. Cheers, Frens

[2015-05-18 05:41] frensjan commented on #12
@lucamartinetti, the master branch now contains ```spanBy(...)``` as it was meant :)
I think I'll be pushing a new version (0.1.5) to spark packages next week or so.

[2015-05-18 05:51] frensjan commented on #12
Also I've been taking a second stab at implementing spanBy. This time by communicating Numpy arrays to Pyspark instead of raw rows and then packing it up as Pandas data frames. If anyone has any feedback, that would be highly appreciated. Does the feature seem useful? Is it practical in use?

See this [notebook](http://oss.frensjan.nl/pyspark_cassandra/demos/spanby.html) for a short demo.

[2015-05-20 18:03] jimmypeich opened #29 "NullPointerException when accessing tables with null values"
First of all great job with the project!

I happened to hit a NullPointerException while trying to access data from a test table:

[code]

The table:

[code]
The quick fix I came up with involves checking for `null` before deserializing the `ByteBuffer` in `LWRowReader.parse()`:

[code]
I did not have the time to properly test it nor to fork/fix/pull-request the issue but hope that helps for now:

[2015-05-20 18:09] jimmypeich commented on #29
By the way, I was using Spark 1.3.1 and Cassandra v2.1.2

[2015-05-20 20:33] #29 closed

[2015-05-20 20:34] frensjan commented on #29
Nice! Thanks for finding it and tracking it down! Just fixed it in the master branch. The row object has a ```isNull``` method which is now checked.

[2015-05-20 20:37] frensjan opened #30 "Add test for empty cells"
To prevent #29 from happening again.

[2015-05-21 10:27] jimmypeich commented on #29
Cleaner that way, indeed. Glad it helped.

[2015-05-21 16:21] jimmypeich opened #31 "com.datastax.driver.core.UDTValue breacks Pickling"
I came across this issue with regards to serialization of tables using UDT:

[code]
Picklers for `com.datastax.driver.core.UDTValue` class are not defined (they are for `com.datastax.spark.connector.UDTValue` though).

A quick way to reproduce would be to create a test table with UDT:

[code]

And try to access it from pyspark:

[code]

[2015-05-21 16:43] frensjan commented on #31
https://github.com/TargetHolding/pyspark-cassandra/commit/7484c9a43bd5d5ab26abab1153bd5dfa704f4daa seems to have broken compatibility. The driver row isn't first converted to a CassandraRow anymore, so ```UDTValue```s aren't converted either. I'll fix this ASAP.

(note to self: solve those unit / integration test issues!)

[2015-05-21 17:53] jimmypeich commented on #31
Thanks for that!

[2015-05-21 21:59] #31 closed

[2015-05-21 22:06] frensjan commented on #31
Just made some fixes and was able to test with your snippets. Could you confirm?
Also some issues with ```saveToCassandra(...)``` were fixed.

[2015-05-22 08:45] jimmypeich commented on #31
Worked like a charm, thanks!

[code]

[2015-05-22 11:57] frensjan opened #32 "spanBy(...).asDataFrames(...) fails if Pandas is missing"
See traceback below:

[code]

[2015-05-29 01:32] mjhb opened #33 "ImportError: No module named pytz"
Looks like the recent Numpy + Pandas changes introduced a dependency on module pytz?

[code]

Problem goes away after installing pytz module.

Currently running spark-1.2.2, using your latest code.

[2015-05-29 02:12] mjhb opened #34 "Error in pyspark_cassandra on Zeppelin"
Error on attempt to access Cassandra via the pyspark_cassandra connector when running in [Apache Zepplin](https://zeppelin.incubator.apache.org/):

[code]
[code]

Works fine with pyspark.

[2015-05-29 11:38] frensjan commented on #33
Hi @mjhb, ah, indeed. Shouldn't have happend. I'll make sure the dependency is just as optional as numpy and pandas.

[2015-05-29 11:42] frensjan commented on #34
Hi @mjhb, interesting to see you're trying out pyspark_cassandra in Zeppelin. If you get a chance to write up a comparison between IPython notebook versus Zeppelin, I'd be very interested!

But, that of course requires you to be able to use it ... The stacktrace looks like a plain old classpath error. Could you share how things are loading? Perhaps also the full command with which JVM is started?

[2015-05-29 12:01] frensjan commented on #33
https://github.com/TargetHolding/pyspark-cassandra/commit/699887f4130d17dc8e9c6ee5b1efc55b23bdc1b1 should fix things. I didn't know of the existence of ```dateutil.tz.tzutc()```. That was all the dependency on pytz was about. @mjhb could you confirm this solves things?

[2015-05-29 18:27] mjhb commented on #34
Oops, shoulda included that.

I'm starting Zeppelin with its ```zeppelin-daemon``` command:  ```bin/zeppelin-daemon start```

I've set the following in ```conf/zeppelin-env.sh```:
[code]

Log file (```logs/zeppelin-interpreter-spark-mjhb-appdev.log```) indicates that both the jar and egg are loaded (no error messages):
[code]

Sorry - I don't use iPython so I don't have a perspective on comparison

[2015-05-30 11:03] frensjan commented on #34
Well, that doesn't look that bad ... I haven't been able to get Zeppelin up and running myself. I took a quick stab at it, but ran in to more than a handfull of errors. Could you test if this issue is something which pertains to pyspark_cassandra in particular or is a more general issue (either in your setup or in Zeppelin)?

[2015-05-31 18:41] mjhb commented on #33
I uninstalled pytz (```pip uninstall pytz```) and pulled your latest code, but now I get:

[code]

[2015-05-31 18:47] mjhb commented on #34
Your connector works fine in pyspark (at least for the scenarios I've tested), but fails in Zeppelin.  I submitted a JIRA ticket to Zeppelin, but haven't received any response (other than ack on the submission).

I was hoping you'd have some insight into why the connector is failing.

Thanks.

[2015-05-31 20:07] frensjan commented on #34
Sorry. Have you used other extra packages in Zeppelin successfully?

On 31 May 2015 20:47, Marty B <notifications@github.com> wrote:

Your connector works fine in pyspark (at least for the scenarios I've tested), but fails in Zeppelin. I submitted a JIRA ticket to Zeppelin, but haven't received any response (other than ack on the submission).

I was hoping you'd have some insight into why the conn

[2015-05-31 20:08] frensjan commented on #33
Sigh ... thought this would be backported to at least recent python 2.7 installs. What version are you on?

On 31 May 2015 20:41, Marty B <notifications@github.com> wrote:

I uninstalled pytz (pip uninstall pytz) and pulled your latest code, but now I get:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "build/bdist.linux-x86_64/egg/pyspark_cassandra/__init__.py",

[2015-05-31 21:23] rustyrazorblade commented on #34
FWIW, a coworker has managed to get the scala cassandra connector working.
I also tried to get zeppelin to work using this python lib but gave up.

On Sun, May 31, 2015 at 1:07 PM Frens Jan Rumph <notifications@github.com>
wrote:

[2015-05-31 23:06] mjhb commented on #34
@frensjan:  yes - I'm using the Scala interpreter with Datastax' Spark-Cassandra Connector in Zeppelin and that works great.  The only issue I have with Zeppelin (other that wish-list items) is Cassandra access from the Python interpreter.  The Zeppelin folks are unlikely to figure this out, since it's the pyspark-cassandra connector that is throwing the error.

@rustyrazorblade same here - am usi

[2015-05-31 23:22] mjhb commented on #33
Yes, it works now.  At least it does outside of Zeppelin.  :grinning:

Thanks.

[2015-06-01 04:57] #33 closed

[2015-06-01 07:21] frensjan commented on #34
Ok, that's useful feedback. This makes it likely that it is a pyspark cassandra related issue. In issue https://github.com/TargetHolding/pyspark-cassandra/issues/5 there was a problem with class loaders. It might be that Zeppelin wires up the class loaders differently than 'normal' pyspark does.

If I have the time I'll try setting up Zeppelin again. If anyone is brave enough to fight the class lo

[2015-06-01 16:47] rahulfission opened #35 "Unable to connect to cassandra"
Trying to connect cassandra server using pyspark. Using spark -1.2.1

Program:
[code]

Error:
[code]

[2015-06-04 18:47] etspaceman opened #36 "Spark-submit --packages java error"
Receiving the following error when submitting jobs using --packages rather than importing the 0.1.4 binary dependencies locally. Error is thrown when calling saveToCassandra(). Version of spark is 1.3.1, java is 1.7.0_79.

Submit code:
$SPARK_HOME/bin/spark-submit --master local[*] --packages TargetHolding/pyspark-cassandra:0.1.4 my_python_file.py

vs.

$SPARK_HOME/bin/spark-submit --master local[

[2015-06-04 22:55] mdinesh7 opened #37 "Links to spark-packages.org dont work"
In the README.md file, adding http:// will fix the issue.

[2015-06-05 03:52] #37 closed

[2015-06-05 03:52] frensjan commented on #37
Thanks!

[2015-06-05 05:09] frensjan commented on #36
Thanks for the feedback @etspaceman! I'll release the next release with Java 7 compatibility!

[2015-06-05 05:18] #36 closed

[2015-06-05 06:11] frensjan commented on #35
Hi @rahulfission, sorry for the late response. Was tied up with other things.

Could you make sure that you're setting the right port at ```spark.cassandra.connection.native.port```? Normally this is the CQL / native transport port which by default is ```9042```. You've set it to ```9160```, which is the RPC / thrift port.

[2015-06-05 09:03] mdinesh7 commented on #37
Anytime.

[2015-06-05 19:02] etspaceman commented on #36
Excellent! Thanks! :)

[2015-06-06 13:49] frensjan commented on #36
Version 0.1.5 was just released. Could you check @etspaceman if things are working properly on Java 7?

[2015-06-07 08:03] frensjan commented on #35
@rahulfission, ignore my comment above, just reread your issue and that doesn't make sense. Well, it does to some extent because I don't think it's correct to set ```spark.cassandra.connection.native.port``` to ```9160```. But you're unable to load the ```pyspark_cassandra.PythonHelper``` class. Which is odd since pyspark_cassandra _is_ tested against Spark 1.2.1, see the [latest travis build](htt

[2015-06-08 21:06] anshulsin opened #39 "How to properly set split size"
Hi,

the readme mentions that the spark cassandra input split size i.e. number of cassandra rows per spark partition needs to be set while calling sc.cassandraTable()

However, looking at the code, this doesn't seems to be the case.
How to set split_size?

[2015-06-09 19:16] mjhb commented on #34
I wish I could help with the class loader, but that's outside my competency.  Happy to help with hypothesis testing of experimental code or in any other way(s) that might be helpful.

[2015-06-09 22:51] rustyrazorblade commented on #9
What are your thoughts on something like `sc.cassandraTableAsDataFrame(keyspace, table, sql_context...)`, with a Java helper that takes care of the mess under the hood?

[2015-06-10 05:55] frensjan commented on #9
I think there's no need to such a _big_ method. Because ```cassandraTable``` is lazy I was thinking more along the lines of extending ```CassandraRDD```. And indeed performing the messy part on the JVM.

But I think the guys at Spark Cassandra Connector are taking a different route: their implementing the generic ```load``` method of ```SQLContext```. See https://github.com/datastax/spark-cassandr

[2015-06-10 06:31] rustyrazorblade commented on #9
Would it be a big method?  It's just creating a cassandra table, calling toDF() on it and returning the result.  My assumption was that it would only be 1 more line than creating a cassandraTable.

[2015-06-10 08:14] frensjan commented on #9
Sorry, fuzzy expression :) I meant big in the sense that it enlarges the API footprint. Currently the following combinations are possible for creating a DataFrame:
* ```sc.cassandraTable(...).toDF(...)```
* ```sc.cassandraTable(...).select(...).toDF(...)```
* ```sc.cassandraTable(...).where(...).toDF(...)```
* ```sc.cassandraTable(...).select(...).where(...).toDF(...)```

These 'paths' are already

[2015-06-11 10:27] umesh563 opened #41 "Value of fields in UDT are getting interchanged"
Hi,

I have created a table with UDT field. When i am reading from it, the value of the some fields in UDT are getting interchanged. In my case, in some of rows a field of type datetime is getting replaced by boolean value, i am getting correct results while reading from python. It is weird type of issue, any suggestions ??

Thanks
Umesh

[2015-06-17 08:41] jadelaop opened #42 "SaveToCassandra error"
I use pyspark-cassandra (0.1.5) with Spark 1.3.1 Cassandra 2.1.6. I hace de random errors when i save data to cassandra:

[code]

[2015-06-17 14:07] etspaceman commented on #14
Hi There -

Just curious as to when this feature may be available. I was planning to leverage this so that i can enhance a DStream with information from a cassandra table. I'm finding it incredibly difficult to work around the lack of said feature.

[2015-06-17 16:40] mwicat commented on #14
Same here, in the meantime we have to broadcast a smaller table to all workers but would be great to have native join!

[2015-06-18 18:17] rustyrazorblade opened #43 "materialize rows as cqlengine objects"
Just putting this in as a placeholder.  Need to think about how this would work with mapping (returning new objects), and dataframes, in a non-awkward way.

[2015-06-18 22:27] rustyrazorblade opened #44 "save DataFrame to cassandra"
DataFrames have a .save() method, which looks like this when called from Scala:

[code]

No idea how this would work from pyspark...

[2015-06-19 17:21] frensjan commented on #44
Equally, there is a ```SQLContext.load```. In principle, there shouldn't even be anything required from pyspark_cassandra to make Cassandra DataFrames work. I've been working on it, but internal apis are changing in the Spark Cassandra Connector.

[2015-06-24 15:17] etspaceman opened #47 "Add SSL support to Pyspark"
See the following document on datastax's provided connector:

https://github.com/datastax/spark-cassandra-connector/blob/master/doc/1_connecting.md

Pyspark-cassandra should support the following:

spark.cassandra.connection.ssl.enabled
spark.cassandra.connection.ssl.trustStore.path
spark.cassandra.connection.ssl.trustStore.password
spark.cassandra.connection.ssl.trustStore.type
spark.cassandra.co

[2015-06-25 06:57] frensjan commented on #47
Hi @etspaceman, we're currently not using SSL with Cassandra at the moment. But I can imagine that others would. As PySpark Cassandra is built on top of Spark Cassandra Connector, I would think you could just set these settings in the ```SparkConf```.

[2015-06-29 22:09] etspaceman commented on #47
Good to know!

Technically the Spark Cassandra Connector doesn't support it in its official releases. Their master branch has support for it though, and it looks to be in their plans for an upcoming release to 1.2, 1.3 and 1.4 spark versions. Assuming Pyspark Cassandra picks up on those releases, we should be good here.

[2015-06-29 23:10] rustyrazorblade commented on #9
I've spoken to the driver guys.  It seems that we're looking at this backwards.  There's a data frame api that's exposed that we can use instead of using RDDs.

This *should* work:

[code]

but unfortunately I get this error:

[code]

Thoughts?

[2015-07-07 02:33] josephwinston opened #48 "Peformance"
Using `Cassandra 2.1.7`, I created a table as follows in `cqlsh 5.0.1`:

[code]

I built `pyspark-cassandra`, commit 7c0a56, againt `spark 1.4.0` and it works as expected:

[code]

I then tried a larger table.  In `cqlsh 5.0.1`, I ran:

[code]

I then inserted 83 * 302 * 743 rows.  I can query the data in cqlsh 5.0.1 without problem and the results are very fast, basically instantaneously.

In pyt

[2015-07-07 02:43] rustyrazorblade commented on #48
You can use the dataframes api directly without this library, and it'll be significantly faster.  toDF() is convenient, but it's *much* faster to use the Dataframe api.

See this example: https://github.com/rustyrazorblade/spark-training/blob/master/exercises-solutions.ipynb

[2015-07-07 03:03] josephwinston commented on #48
See my issue [Excessive thread usage when interacting with a dataframe](https://groups.google.com/a/lists.datastax.com/forum/#!topic/spark-connector-user/5_VWHCroEKo) that occurs with this same sample, even when use the following memory sizes:

[code]

[2015-07-07 03:23] frensjan commented on #48
@josephwinston, the route @rustyrazorblade suggests is correct. pyspark_cassandra has implemented toDF but at a very costly overhead of pulling data from the JVM RDD's into Python RDD's to then convert them back to JVM DataFrames ... Functional, but not efficient.

I can't _really_ comment on why you'd run out of memory with these numbers. But some thoughts:

You've got around 20 million records.

[2015-07-07 03:23] #48 closed

[2015-07-09 01:05] josephwinston commented on #48
Your correct I'm running in local mode.  Sometimes it is easier to prototype this way.

[2015-07-17 17:10] akshayrfk opened #49 "pyspark_cassandra.conf.WriteConf - default values are not set."
Even though the docstring for ```pyspark_cassandra.conf.WriteConf```  says that default values of the parameters will be used where ever not provided, the code does not set the default values.

Something like following should fix the problem
[code]

[2015-07-17 17:13] akshayrfk opened #50 "pyspark saveToCassandra method does not have 'ttl'"
The document says ```ttl``` is supported in saveToCassandra
```rdd.saveToCassandra(.... ttl=ttlvalue)```
However, it does not seem to work
```TypeError: saveToCassandra() got an unexpected keyword argument 'ttl'```

[2015-07-27 14:15] rajeshradhakrishnan commented on #9
I was able to load this and print the output:

from pyspark import SparkConf
from pyspark.sql import SQLContext
import pyspark_cassandra
from pyspark_cassandra import CassandraSparkContext, RowFormat, Row, UDT, WriteConf

conf = SparkConf().set("spark.cassandra.connection.host", "127.0.0.1").set("spark.cassandra.connection.native.port","9042")
sc = CassandraSparkContext(conf = conf)
tabled = sc.ca

[2015-07-27 14:36] rajeshradhakrishnan opened #51 "registerDataFrameAsTable throwing error"
Hi,
I was trying to load some data from Cassandra (2.1.5), using Spark (1.3.1) using pyspark-cassandra. It took some time to set pyspark-cassandra working. I was able to call CassandraTable and get the RDD and even print them .But when I use sqlContext. registerDataFrameAsTable(...) it throws error. My code is given below.
#-------------------------------------------------------------
from pyspark

[2015-08-05 13:13] carldeantucker opened #52 "zipimport.ZipImportError: can't find module 'pyspark_cassandra'"
Using spark 1.4.1 is this issue related to that?

Started pyspark using:

$ spark-1.4.1-bin-hadoop2.6]# ./bin/pyspark --packages TargetHolding:pyspark-cassandra:0.1.5

I can then see spark import pyspark-cassandra, as displayed below:

[code]

But then when entering "import pyspark_cassandra" at the prompt, I get the error message displayed in the issue title:

[code]

Any ideas?

[2015-08-08 05:36] #47 closed

[2015-08-08 05:45] frensjan commented on #51
Hi Rajesh,

Sorry for the late response. I've been swamped with another project the last couple of months, so my 'maintainership' of pyspark-cassandra is suffering. I hope to make up for it in Q3 of this year.

As for your error above:
1. An {{RDD}} (which is the type of the object returned {{cassandraTable(...)}}) is _not_ a {{DataFrame}}. Hence the {{ValueError}}. You would first have to convert

[2015-08-08 05:45] #51 closed

[2015-08-12 14:52] rajeshradhakrishnan commented on #51
Yes I was able to fix this issue one week ago and having said that Rusty's blog helped me generally in otherways. Thank you for the help and reply.

[2015-08-13 18:05] rustyrazorblade commented on #44
It's been a while since I posted this - but you were correct.  I've got a ton of example code using Dataframes saving to & from cassandra.  Not sure if you're interested in any of it: http://rustyrazorblade.com/2015/08/migrating-from-mysql-to-cassandra-using-spark/

[2015-08-20 19:30] ncaadam commented on #44
@rustyrazorblade Thank you so much for that blog! So helpful.

[2015-08-26 14:36] cin opened #54 "Update to spark cassandra connector 1.3.0"
We're trying to use pyspark-cassandra with Spark 1.3.1 and the spark-cassandra-connector 1.3.0 and running into issues. If we try to use the 0.1.5 spark package release, we get the following error:
[code]
I looked briefly into rebuilding pyspark-cassandra with the spark-cassandra-connector v1.3.0 and ran into some issues.

[code]

There are more errors, but the point is there is obviously some wor

[2015-08-27 11:12] jakac commented on #39
Hi,

it seems that README is not consistent with code. There is workaround:
[code]

[2015-08-27 12:18] iryts commented on #54
I also get similar exception (: java.lang.NoSuchMethodError) using --packages TargetHolding:pyspark-cassandra:0.1.5  with Spark 1.3.1

[2015-09-03 08:19] munai-das opened #55 "spark.cassandra.input.split.size_in_mb is not a valid Spark Cassandra Connector variable"
Hi,
I have been using pyspark-cassandra 0.1.5 with spark 1.4.1(latest release).

But normal counting of 1519784 records in cassandra is taking 70 secs.

From this question in stackoverflow,
http://stackoverflow.com/questions/31583249/apache-spark-taking-5-to-6-minutes-for-simple-count-of-1-billon-rows-from-cassan?lq=1

I came to know about the use of "spark.cassandra.input.split.size_in_mb" while

[2015-09-03 21:13] kenny0805 commented on #35
I had the same issue while using pyspark-cassandra.

I tried using pyspark with spark-submit and a script and also with the pyspark shell on AWS EMR. Both of them returned the same error as above...

py4j.protocol.Py4JJavaError: An error occurred while calling o24.loadClass.
: java.lang.ClassNotFoundException: pyspark_cassandra.PythonHelper
	at java.net.URLClassLoader$1.run(URLClassLoader.java:366

[2015-09-17 11:16] pklfz commented on #50
The raw code seems not to include the ttl parameter.

[2015-09-22 03:57] rajnandy opened #56 "Unable to import pyspark_cassandra module"
I am using Spark 1.3 with Cassandra 2.1.8. Following the process mentioned here to connect with Cassandra from pyspark. Tried the following:

[2015-09-22 04:05] rajnandy commented on #52
I am also facing the same. Have you solved this yet?

[2015-09-28 03:29] tantonyan commented on #50
I also tried this and got the same error.

[2015-09-28 05:19] akshayrfk commented on #50
This is how I handled it, w/o touching TargetHolding's code:
( sc is SparkContext)
[code]

[2015-09-28 10:04] omriiluz commented on #54
I updated pyspark-cassandra to the latest cassandra connector (1.4.0), can you please test it before I make a PR to the main repo ?

See here - https://github.com/omriiluz/pyspark-cassandra/tree/master

[2015-09-28 12:08] bboalimoe opened #57 "did the package support cassandra 2.1.9 and spark 1.5.0 ....."
thanks a lot!

[2015-09-28 23:12] NikunjBajaj-Reflektion opened #58 "pyspark-cassandra scaling with cassandra table size"
I am trying to create an RDD from two different cassandra tables.
* table1 (~ 80 million rows)
* table2 (~ 500k rows) (randomly chosen subset of table1)

```rdd1 = spark_context.cassandraTable('keyspace1', 'table1').select("col1", "col2").where("year=? and month=? and day=?",  year, month, day)```

```rdd2 = spark_context.cassandraTable('keyspace2', 'table2').select("col1", "col2").where("year=? a

[2015-09-29 05:33] frensjan commented on #58
Could you elaborate on the schema's of table1 and table2? Have you attempted to perform the same queries in CQLSH and how do they compare to your results with Pyspark Cassandra?

[2015-09-29 07:54] frensjan commented on #54
@omriiluz if you make the PR it will be tested automaticaly by Travis.

[2015-09-29 08:03] omriiluz commented on #54
Done, see PR #59.

As I wrote on the PR, this requires more testing, but the tests should pass (at least they do locally on all versions of spark up to 1.4.1)

[2015-09-29 08:06] omriiluz opened #60 "Feature Request: add support for joinWithCassandraTable"
As far as I can tell, joinWithCassandraTable is not supported in pyspark-cassandra.
If this really doesn't exist and no one is working on adding it, I can take a stab at it.

[2015-09-29 08:47] mwicat commented on #60
@omriiluz that would be nice ;)

[2015-09-29 18:42] NikunjBajaj-Reflektion commented on #58
I attempted the same queries on cqlsh and they work just fine. As in I get response quick enough (sub second).

I am hereby giving detail about the table schema.

[code]

[2015-09-29 19:27] chesslemon commented on #60
+1

[2015-09-30 05:09] bboalimoe commented on #57
@frensjan @jeanpaul

[2015-09-30 23:11] tantonyan commented on #50
It works, Thanks @akshayrfk !

Note to others: you need to import WriteConf with:
from pyspark_cassandra.conf import WriteConf

[2015-10-01 18:14] akshayrfk commented on #54
@omriiluz  Thanks for adding support for latest cassandra-connector (1.4.0) and spark (1.4.1).
For some weird reason, with the older TargetHolding package I was having problems reading from very large tables.

[2015-10-01 23:28] jimmypeich commented on #41
I ran into the same issue.

It is caused by the UDTValuePickler class not guaranteeing a sorted field-names set.

In my case, this was just happening for the first UDT value unpickled out of a given query. All others would be pickled as lists and unpickled in python as expected.

I have a working fix and will make a pull request shortly.

[2015-10-01 23:43] jimmypeich commented on #41
How to reproduce the problem:

- Create a table with a UDT list:
[code]
- Access it via `cassandraTable`:

[code]

The **first UDT is unpickled consistently reversed**.

If we look under the hood, we are getting a set() the first time we unpickle a point (and the point is consistently deserialized wrong):

[code]

[2015-10-02 01:54] ziploc1010 opened #62 "Failed to open thrift connection"
No matter what configuration I put in my cassandra.yaml on my Amazon EC2 cluster, I still get the same error:

[code]

I have 4 aws nodes:
2 on us-east-1a (1 seed)
2 on us-east-1b (1 seed)

My cassandra.yaml on each node contains:
[code]

I start pyspark by:
[code]

In ipython, I use the following commands:
[code]

[2015-10-02 02:16] ziploc1010 commented on #62
I changed start_rpc: true to start_rpc: false in cassandra.yaml.
I still got the thrift error, but it was slightly different.

Using Python version 2.7.10 (default, Aug 11 2015 23:39:10)
SparkContext available as sc, HiveContext available as sqlContext.

In [1]: 15/10/02 02:07:49 INFO SparkDeploySchedulerBackend: Registered executor: AkkaRpcEndpointRef(Actor[akka.tcp://sparkExecutor@172.31.27.77:5

[2015-10-02 08:29] r4fek commented on #60
Killer feature!

[2015-10-02 08:32] mlowicki commented on #60
+1

[2015-10-02 08:46] psliwka commented on #60
Support for that would be awesome!

[2015-10-02 09:28] Nihn commented on #60
+1

[2015-10-05 17:59] SylviaVargasCTL commented on #52
I have the same problem..  Is this a ClassPATH Issue??

[2015-10-06 21:21] SylviaVargasCTL commented on #56
I get the same error "Unable to import pyspark_cassandra" , in Spark 1.4.1, the following is how I start pyspark

PACKAGES="com.datastax.spark:spark-cassandra-connector_2.10:1.4.0-M3,org.apache.spark:spark-streaming-kafka_2
.10:1.4.1"

# App-specific
PACKAGES="${PACKAGES},com.datastax.spark:spark-cassandra-connector_2.10:1.4.0-M1,joda-time:joda-time:2.8.1,co
m.typesafe.play:play-json_2.10:2.3.10"

[2015-10-07 06:49] rajnandy commented on #56
pyspark shell didn't work with the connector in my case. I finally used spark-submit to run my scripts. If you have successfully build the jar, try this:

spark-submit --jars pyspark_cassandra-0.1.5.jar  \
    --driver-class-path pyspark_cassandra-0.1.5.jar \
    --py-files pyspark_cassandra-0.1.5-py2.7.egg \
    --conf spark.cassandra.connection.host=localhost pyscript.py

[2015-10-13 12:57] pchundi commented on #56
@rajnandy
I tried you suggestion, but unfortunately it does not work.
 spark-submit --jars ~/lib/pyspark_cassandra-0.1.5.jar --driver-class-path ~/lib/pyspark_cassandra-0.1.5.jar --py-files ~/lib/pyspark_cassandra-0.1.5-py2.7.egg --master yarn-client myscript.py
getting error:
AttributeError: 'SparkContext' object has no attribute 'cassandraTable'

Environment:
Spark 1.3.1
Cassandra 2.1.5.469

fyi

[2015-10-13 13:15] rajnandy commented on #56
Can you show me how are you loading the cassandra table? You need to create a CassandraSparkContext like following: sc = CassandraSparkContext(conf=conf). Then load the cassandra table: sc.cassandraTable("keyspace","table")

[2015-10-13 13:22] pchundi commented on #56
@rajnandy:
Thanks for the reply. I did no instantiate CassandraSparkContext, my bad.
But original problem of not being able to import pyspark_cassandra in pyspark interactive shell(yarn-client mode) still persists.

[2015-10-15 09:06] omriiluz commented on #60
I just created PR #63 with basic support for joinWithCassandraTable.
Please test and let me know if you see any issues.

[2015-10-15 09:48] pchundi opened #64 "Problem saving lists to cassandra table"
There seems to be a problem saving python lists to cassandra table.
My setup:
 - python 2.7
 - pyspark 1.3.1
 - cassandra: [cqlsh 5.0.1 | Cassandra 2.1.5.469 | DSE 4.7.0 | CQL spec 3.2.0 | Native protocol v3]

I start my job with:
[code]
Desc of the table:
[code]
my rdd is composed of tuples of types:
[code]
getting the following error:

[code]

Am I doing something wrong/unexpected?

Edit--------

[2015-10-20 04:43] omriiluz commented on #60
Has anyone tested my patch and can provide feedback?

[2015-10-20 14:45] mwicat commented on #60
@omriiluz I'm in the process of rewriting some of our logic to joinWithCassandraTable, will inform you on results

[2015-10-28 04:23] ZhenxingWu commented on #57
not support yet

[2015-10-30 21:40] mamhamed opened #65 "pyspark-cassandra fails when a field in UDT is null"
Even if only one of the rows have one of the UDT (User Defined Type) fields as null, pyspark_cassandra fails to read the entire column. For example it cannot read the `geo_location` of following table:
[code]

Here is the way to reproduce the issue:
[code]
This works fine when reading data in pysaprk_cassandra:
[code]

*Now if we add a new row to `address` table with `geo.long` as null*
[code]

th

[2015-11-04 19:14] frensjan opened #66 "test and support python3"

[2015-11-06 10:47] tmbo commented on #57
@ZhenxingWu what's is not supported? cassandra 2.1.9 or spark 1.5?

[2015-11-08 05:37] ZhenxingWu commented on #57
@tmbo

not supported in spark 1.5, while I suggest you direct use datastax's spark cassandra connector.
it didn't fully support pyspark, but do support read/write on DataFrame

https://github.com/datastax/spark-cassandra-connector/blob/master/doc/15_python.md

[2015-11-14 22:02] frensjan commented on #41
@umesh563 thanks for reporting this! I've been slacking on pyspark_cassandra for the past couple of months. sorry about that :( Hope to fixing this soon in a new release.

@jimmypeich thanks for suggesting a solution! I'm finalizing a rewrite to Scala (got sick of the weirdness of accessing Scala code from Java). So I might not directly use your PR, but I've made sure that field name iteration is

[2015-11-14 22:03] frensjan commented on #65
@mamhamed thanks for reporting this! I've been slacking on pyspark_cassandra for the past couple of months. sorry about that :( Hope to fixing this soon in a new release. I'll incorporate your test case in a unit test.

[2015-11-15 18:37] frensjan commented on #64
hi @pchundi, sorry for the late response. I've been slacking on pyspark_cassandra for the last couple of months. I'm trying to get back with a 0.2.0 release which should also tackle your issue.

I haven't gotten to the bottom of this just yet. But what I can see is that in pyspark:
[code]
is 'incorrect'. Well ... the result is an RDD made up of three elements (not one) of which two are lists of nu

[2015-11-15 19:01] frensjan commented on #64
I've tracked down an issue which prevented:
[code]
from working. And should be fixed in 0.2.0. I'll add a test case to stop a regression.

[2015-11-15 19:01] frensjan commented on #64
In your original stack trace there is the error message:
[code]
Which leads me to think that the test case in the pyspark shell doesn't fully represent the script you originally had issues with. Could you elaborate on what you're doing?

Cheers!

[2015-11-15 19:24] frensjan commented on #62
hi @ziploc1010, thanks for the report. Not sure however what might be causing this though :( I assume that *local* and *private* aws ip address are the same thing?

Have you attempted ```telnet```ting from a Spark node to the Cassandra Thrift service? (may be localhost if their on the same machine)

I've been slacking on pyspark_cassandra lately. Sorry for that. But I'm working on a new 0.2.0 rele

[2015-11-16 06:17] frensjan commented on #54
hi @cin @incaren @omriiluz sorry for pyspark_cassandra not being very active lately. A 0.2. will be release soon which will support Spark 1.4.1 and its spark-cassandra-connector counterpart.

[2015-11-16 06:19] frensjan commented on #52
Sorry for the late response. A pyspark_cassandra version 0.2 is on its way which will support Spark 1.4.1.

[2015-11-16 06:21] frensjan commented on #50
Hi @akshayrfk @pklfz @tantonyan, the correct way of setting such options was by using the WriteConf class from pyspark_cassandra. I'm working on a 0.2 version. I'll just support such options as kwargs.

[2015-11-16 06:25] frensjan commented on #49
The defaults should have been set in https://github.com/TargetHolding/pyspark-cassandra/blob/master/src/main/java/pyspark_cassandra/PythonHelper.java#L155. So not on the python side but in Java. I'm working on a 0.2 version. I'll make sure defaults will be set and values set through Spark configuration are read.

[2015-11-16 06:30] frensjan commented on #39
@anshulsin @jakac the correct way was to use the ReadConf class from pyspark_cassandra. Sorry for that not being clear from the readme. I'm working on 0.2 It'll support setting read/write conf as kwargs and as an object.

[2015-11-17 09:03] pchundi commented on #64
HI @frensjan , Thanks for the fix. I will try it out when i get the time for it. I got around the issue by saving the List  as String and reconstructing it in the parser which reads from Cassandra.

The script with caused the first stack trace is semantically more or less the same as the pyspark(yarn-client mode) snippet  apart from the fact that the column family has more columns.

[2015-11-17 12:07] buzypi commented on #41
I see a similar issue with maps where the values of keys get interchanged.

[code]

Here is a simple run:
[code]

Output:
[code]

Is it related to the above issue?

[2015-11-24 13:36] mwicat commented on #62
@frensjan If you need help with 0.2.0 then feel free to open tasks, we have some man-hours for spark related development  ;)

[2015-11-25 05:35] frensjan opened #67 "Support withAscOrder and withDescOrder"

[2015-11-25 23:39] frensjan commented on #41
Could any of you checkout the 0.2 branch? Should be fixed in that.

[2015-11-25 23:43] frensjan commented on #60
Support for RDD.joinWithCassandraTable is now available in the 0.2 branch; try it out and let me know if things go smooth. Documentation is not 100% just yet ... And I'm working on DStream.joinWithCassandraTable.

[2015-11-25 23:43] #60 closed

[2015-11-25 23:46] frensjan commented on #57
The DataFrame option is most certainly one _not_ to ignore. It probably has better performance in comparison to pulling the data into pyspark. But sometimes you want to ... :)

Spark Cassandra Connector 1.4 is supported in the 0.2 branch. While the datastax crew indicates that this would not be compatible with Spark 1.5, I have been able to use this combination.

Cassandra 2.1 and 2.2 should be su

[2015-11-25 23:46] #57 closed

[2015-11-26 09:39] frensjan commented on #62
@mwicat thanks for the offer! Any help is appreciated!

Throwing everything upside down by going down the Scala route may be a bit tough to swallow for some, but I felt it would make things easier in the future. So I bit the bullet and rewrote the JVM side codebase from Java to Scala. I think for the better, but it is a new codebase ..

 I have added more unit tests, but if you could scrutinize th

[2015-11-26 09:39] frensjan commented on #62
@ziploc1010 sorry for the message above being off topic. If you're willing you could give the latest version a go which doesn't require thrift any more.

[2015-11-26 09:44] frensjan commented on #17
fixed in https://github.com/TargetHolding/pyspark-cassandra/commit/3c2bdec2900465a38c047e9760b207b550a6a849

[2015-11-26 09:44] #17 closed

[2015-11-26 09:53] frensjan commented on #14
https://github.com/TargetHolding/pyspark-cassandra/commit/3c2bdec2900465a38c047e9760b207b550a6a849 provides ```joinWithCassandraTable(...)``` for RDDs.

[2015-11-26 09:55] frensjan commented on #13
```limit(num)``` is implemented through https://github.com/TargetHolding/pyspark-cassandra/commit/39ff5002a4c0da14da2c360c1b61e0713c98c8fe and https://github.com/TargetHolding/pyspark-cassandra/commit/b44cf03031333799a811ebcdede9815d04672795

[2015-11-26 09:57] frensjan commented on #13
```take(num)``` should follow [take in CassandraRDD.scala on line 119](https://github.com/datastax/spark-cassandra-connector/blob/108301e317cc07a89e947fc61f86f9e9a65937dd/spark-cassandra-connector/src/main/scala/com/datastax/spark/connector/rdd/CassandraRDD.scala#L119)

[2015-11-26 11:01] frensjan commented on #65
@mamhamed in the master branch this issue is fixed. I hope to release 0.2.0 soon via spark packages.

[2015-11-26 11:01] #65 closed

[2015-11-26 11:03] frensjan commented on #64
no problem, let me know if I _haven't_ fixed this issue. I've added a unit test for this issue to prevent any regression later on: https://github.com/TargetHolding/pyspark-cassandra/blob/master/python/pyspark_cassandra/tests.py#L451

[2015-11-26 11:03] #64 closed

[2015-11-26 11:03] #62 closed

[2015-11-26 11:17] frensjan commented on #58
A possible direction of further investigation: ```crdd.take(num)``` should be semantically equivalent to ```crdd.limit(num).collect()```, but this is currently _not_ the case; see also #13.

I think the normal behaviour for take is to compute the first partition and then take the first ```num``` from this partition. That is, for as long the amount of records is less than the first partition contai

[2015-11-26 11:33] #13 closed

[2015-11-26 12:57] frensjan commented on #54
Check out the master branch. It supports Spark 1.4 and as it seems also 1.5

[2015-11-26 12:57] #54 closed

[2015-11-26 12:59] frensjan commented on #39
With the current master branch it is allowed to use kwargs as well as an explicit ```ReadConf``` object.

[2015-11-26 12:59] #39 closed

[2015-11-26 13:00] frensjan commented on #35
Closing the issue. Please reopen if there is a solid way to reproduce the issue.

[2015-11-26 13:00] #35 closed

[2015-11-26 13:00] #41 closed

[2015-11-26 13:01] frensjan commented on #42
Very little information to go on here. Any clue on how to reproduce this? Please test against the current master branch.

[2015-11-26 13:01] #42 closed

[2015-11-26 13:03] #49 closed

[2015-11-26 13:03] frensjan commented on #50
Checkout the master branch. It supports both kwargs as well as an explicit Read/WriteConf argument.

[2015-11-26 13:03] #50 closed

[2015-11-26 13:04] frensjan commented on #52
Checkout the master branch. It supports Spark 1.4

[2015-11-26 13:04] #52 closed

[2015-11-26 14:38] #14 closed

[2015-11-27 06:18] frensjan opened #68 "Create builds for Scala 2.10 and 2.11"

[2015-11-28 06:10] mamhamed commented on #65
@frensjan thanks for fixing this. Checked and works well. Hope to see the package soon.

[2015-11-28 06:41] frensjan commented on #65
Thanks @mamhamed ! The 0.2.0 version was released yesterday on spark packages: http://spark-packages.org/package/TargetHolding/pyspark-cassandra

[2015-12-02 21:25] clatko opened #69 "Cassandra 3.0 Support"
This is a bit premature, but I think work should be started on the 3.x line of Cassandra. The underlying Spark/Java connector is at 1.5.0-M3 and the driver beneath that is still in alpha - 3.0.0-alpha4. I would be happy to help.

[2015-12-15 14:29] mwicat opened #70 "new pyspark_cassandra not working on cluster"
@frensjan:

pyspark_cassandra stopped working on our cluster after update to 0.2.x. It works when ran in local mode, though:

[code]

I took some time and discovered that PlainRowPickler which is responsible for turning spark-connector Row into pyspark_cassandra.Row is not being registered in net.razorvine.pickle.Pickler on executor nodes. Because of this pyrolite's Pickler interprets it as javabe

[2015-12-15 14:50] frensjan commented on #70
@mwicat thanks! makes sense, stupid that I haven't thought about that the `PythonHelper` class isn't touched in the JVM's of slaves. In `BatchPickler` is an option. Probably in the constructor (class body) is better than on each time `apply` is invoked. I need to check if that covers every corner ...

[2015-12-15 14:55] mwicat commented on #70
@frensjan Yeah I thought about this also but it won't work when placed in class body (dunno why). Maybe there is some kind of hook logic in Spark, like onExecutorInit? ;)

[2015-12-15 15:15] frensjan commented on #70
Hmm, probably an effect of the BatchPickler being serialized. Probably
wiring something into readObject to do stuff on deserializatoin isn't
that stable either.

onExecutorInit would be great :) but I'm not aware of any such feature :(

On 12/15/2015 03:55 PM, Marek Wiewiorski wrote:

[2015-12-15 15:37] mwicat commented on #70
@frensjan maybe use singleton object then to avoid repeated initializations?

[code]

[2015-12-15 18:41] frensjan commented on #70
Because I separated out the `BatchPickler` to [pyspark-util](https://github.com/TargetHolding/pyspark-util) the fix was a little less straightforward. But I was able to reproduce the issue and - as far as I can tell - resolve it. I've release 0.2.2 on [spark-packages](http://spark-packages.org/package/TargetHolding/pyspark-cassandra). Could you verify?

[2015-12-15 18:41] #70 closed

[2015-12-15 20:55] #58 closed

[2015-12-18 10:48] mwicat commented on #70
@frensjan yep looks like it works fine now, thanks!

[2015-12-18 10:53] frensjan commented on #70
No problem, thanks for digging!

On 18 Dec 2015 11:49 a.m., Marek Wiewiorski <notifications@github.com> wrote:

@frensjan<https://github.com/frensjan> yep looks like it works fine now, thanks!

—
Reply to this email directly or view it on GitHub<https://github.com/TargetHolding/pyspark-cassandra/issues/70#issuecomment-165745717>.

[2015-12-19 13:03] compassur opened #71 "can't using with cassandra date type"
java.util.NoSuchElementException: key not found: 'org.apache.cassandra.db.marshal.SimpleDateType'

[2015-12-19 16:20] frensjan commented on #71
Hi @compassur, thanks for raising the issue. Could you provide some additional info? A stacktrace or some code which produces the error? What does your schema look like?

[2015-12-20 03:19] compassur commented on #71
CREATE TABLE ks.date (
    date date PRIMARY KEY,
    info text
)

in pyspark
csc = sc.cassandraTable('db_bgp', 'date')
when i run
csc.first() then i got this.
and i've tested that if the type of 'date column' is timestamp or other type, it works
it seems that the pyspark-cassandra can't work with date and time types.

Py4JJavaError                             Traceback (most recent call last)
<ip

[2015-12-20 11:35] frensjan commented on #71
@compassur, the issue is in the Spark Cassandra Connector from Datastax, since version 1.4 of the connector is depending on version 2.1 of the Datastax Java driver for Cassandra. Version 1.5 of the connector is in beta; once it is released, pyspark_cassandra will follow suit.

There is a slight chance that pyspark_cassandra could pin a dependency on version 2.2 of the Java driver overriding the de

[2015-12-31 15:54] femibyte commented on #69
Ok, I tried using it to connect to Cassandra 3.0 and it failed woefully. Thanks for the info.

[2015-12-31 16:20] frensjan commented on #69
I dont think the transition would be to big, apart from some changes in the internals of the spark cassandra connector.

@femibyte could you elaborate on your attempt? What have you tried? How did it fail?

[2016-01-05 09:52] femibyte commented on #69
I tried using it and obtained a lot of errors. The Version compatibility
table on the github README for the connector shows that the highest version
of Cassandra that is supported is 2.1.5+

Femi

On Thu, Dec 31, 2015 at 11:20 AM, Frens Jan Rumph <notifications@github.com>
wrote:

--
http://www.femibyte.com/twiki5/bin/view/Tech/
http://www.nextmatrix.com
"Great spirits have always encountered viol

[2016-01-10 00:55] femibyte opened #73 "Errors trying to build pyspark-cassandra"
Hi I am trying to build pyspark-cassandra and I keep getting these errors:

[error] /home/femibyte/devel/sandbox/Learning/Spark/pyspark-cassandra/src/main/scala/pyspark_cassandra/Pickling.scala:17: not found: object pyspark_util
[error] import pyspark_util.Conversions._
[error]        ^
[error] /home/femibyte/devel/sandbox/Learning/Spark/pyspark-cassandra/src/main/scala/pyspark_cassandra/Pickling.

[2016-01-10 00:58] mwicat commented on #73
@femibyte You also need to have pyspark-util submodule so in pyspark-cassandra directory do:

git submodule update --init --recursive

[2016-01-10 01:05] femibyte commented on #73
This worked  very well. Thank you very much @mwicat

[2016-01-10 01:05] #73 closed

[2016-01-10 01:39] femibyte commented on #69
Here is an example of the error I've obtained trying to get this running against Cassandra 3.0:

 File "<stdin>", line 1, in <module>
  File "/opt/spark-1.4.1/python/pyspark/rdd.py", line 757, in collect
    port = self.ctx._jvm.PythonRDD.collectAndServe(self._jrdd.rdd())
  File "/opt/spark-1.4.1/python/lib/py4j-0.8.2.1-src.zip/py4j/java_gateway.py", line 538, in __call__
  File "/opt/spark-1.4.1/

[2016-01-11 02:04] femibyte opened #74 "Hive support ??"
Hi, does pyspark-cassandra work with Hive ?

I am trying to do something like this:

[code]
Is this supported ?

[2016-01-11 02:45] #74 closed

[2016-01-11 08:43] frensjan commented on #74
hi @femibyte pyspark-cassandra provides support for RDDs from Cassandra. For DataFrame / SQL support see https://github.com/datastax/spark-cassandra-connector.

[2016-01-11 08:58] femibyte opened #75 "Error starting pyspark with options (Without Spack packages)"
Can anyone tell me why I'm getting the errors below ? According to the README for the pyspark-cassandra connector, what I am trying below should work (without Spark packages): https://github.com/TargetHolding/pyspark-cassandra

[code]
This results in:

[code]

[2016-01-11 08:59] femibyte commented on #74
Thanks a lot.

[2016-01-11 10:53] frensjan commented on #75
What version of Spark are you using?

[2016-01-11 13:11] femibyte commented on #75
Spark 1.4.1

Sent from my iPhone

[2016-01-11 14:42] frensjan commented on #75
See my edited comment above

[2016-01-12 08:49] frensjan commented on #75
@femibyte did you resolve this? my guess is that you use --py_files with an underscore instead of a dash. As this doesn't seem to be related to pyspark cassandra I'm closing the issue.

[2016-01-12 08:49] #75 closed

[2016-01-12 09:40] femibyte commented on #75
Yes, that resolved it, thanks a lot

Sent from my iPhone

[2016-01-13 22:52] nicodv commented on #69
I get that same error, but it is because of an old version of the spark-cassandra-connector dependency (1.4.1), it seems.

For pyspark-cassandra, simply updating the spark-cassandra-connector dependency to 1.5.0-RC1 (which uses the 3.0.0-rc1 driver version) may be enough.

[2016-01-14 09:03] frensjan commented on #69
Hi @nicodv that is the root cause of the matter indeed. The thing is that Datastax overhauled their internal APIs so the integration with pyspark cassandra breaks. So it isn't a matter of upgrading the dependency. I have already spent some time in changing the integration, but I was waiting for spark-cassandra-connector to mature a bit (at the time M1 was out). With the release of RC1 this could b

[2016-01-15 16:28] frensjan commented on #69
See https://github.com/TargetHolding/pyspark-cassandra/commit/75b00299c91eb9febbf54aa81dc264851e1089b9 for the preliminary work on support of Cassandra 3 / Spark Cassandra Connector 1.5.1. It compiles ... but creating an assembly fails because of an avalanche of version mismatches in dependencies.

[2016-01-20 03:06] merlin6666 commented on #66
Use this command "PYSPARK_PYTHON=python3 pyspark --packages TargetHolding:pyspark-cassandra:0.2.4", but can not import pyspark_cassandra.

[2016-01-20 03:10] merlin6666 commented on #66
By the way, my python version is 3.5.

[2016-01-20 06:48] frensjan commented on #66
What version of Spark are you using?

On 20 Jan 2016 04:11, Merlin Yang <notifications@github.com> wrote:

By the way, my python version is 3.5.

—
Reply to this email directly or view it on GitHub<https://github.com/TargetHolding/pyspark-cassandra/issues/66#issuecomment-173072322>.

[2016-01-20 08:14] merlin6666 commented on #66
It is 1.5.2.

[2016-01-20 21:26] frensjan commented on #66
I figured out that the issue lies in how the code is packaged for spark-packages.org. it includes .pyc files ... It does work when using the build artifacts from ```make dist```. I'll look into publishing binaries for both.

[2016-01-21 10:08] frensjan opened #76 "Support joinWithCassandra on a UDT"
[code]
yields

[code]

The workaround is to use
[code]

[2016-01-26 18:03] frensjan opened #77 "Sets of UDT's don't work"
The'll cause:
[code]

[2016-01-26 19:34] frensjan commented on #77
fixed by https://github.com/TargetHolding/pyspark-cassandra/commit/4c1b9eaf452e97b51d99947f65031c9061cbc017

[2016-01-26 19:34] #77 closed

[2016-02-05 15:42] frensjan opened #78 "Support ignoreNulls in WriteConf"

[2016-02-06 07:24] frensjan opened #79 "Investigate compact struct based protocol"
Investigate if more compact objects can be sent to (and from) python using: https://docs.python.org/2/library/struct.html

Maybe something can be done using numpy as well?

Ideally the JVM part would just 'pipe' raw bytes from Cassandra to python with some heads up to present a user friendly but efficient view on it.

[2016-02-10 07:04] incline9 opened #80 "Cassandra 2.0.13 compatibility"
Is there a way to work around using pyspark for cassandra 2.0.13 ?

[2016-02-10 07:53] frensjan commented on #80
psypark-cassandra builds on https://github.com/datastax/spark-cassandra-connector

Cassandra 2.0 is supported by the Spark Cassandra Connector up until version 1.2. pyspark-cassandra used v1.2 of the connector up until pyspark-cassandra v0.1.5.

You could check out if that works for you. pyspark-cassandra has moved forward on various fronts (less bugs, more features, better performance). But it ma

[2016-02-10 08:53] incline9 commented on #80
:+1:  Thank you so much. It works with v0.1.5.

[2016-02-10 08:53] #80 closed

[2016-02-15 15:05] frensjan opened #81 "Add dict.get like method to Struct types"

[2016-02-15 20:32] frensjan opened #82 "Map set to frozenset"
As ```frozenset``` is hashable it allows values to be used as key directly.

[2016-02-16 00:25] crorella commented on #68
Is there any way to compile for scala 2.11?

[2016-02-16 00:55] crorella commented on #68
I tried setting the scala version to 2.11.7 but now I have the following error:

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: com.datastax.spark#spark-cassandra-connector-java_2.11;1.2.0: not found

[2016-02-16 12:57] dstlmrk opened #83 "Clustering key wouldn't be required always"
In the Cassandra I have a table with these PRIMARY KEYS: ((id, company), imp_id). I have some STATIC columns also. If I understand it, I should be able to write data into static columns with id and company and without imp_id (that works in cqlsh). But if I want to write data into static columns via pyspark-cassandra, it doesn't work. It wants to get imp_id as PK.

I think problem is that pyspark-c

[2016-02-18 12:53] frensjan opened #84 "merge key_by behavior in keyBy"
and switch on whether a function or args for key_by are given

[2016-02-20 08:35] frensjan opened #85 "Support multiple clusters"

[2016-02-22 06:02] kwin-wang opened #86 "occur Exception when column value is null for user defined type(UDT)"
supposing I have a table which have a UDT column and its model like:

[code]

the program crashed when save an rdd which include **null** column, like that

[code]

so, how to insert a UDT column value which include **null** or **missing** column?

Thanks!

kwin

[2016-02-22 06:50] frensjan commented on #86
Thanks for reporting there issue. Could you post the exception and stack trace?

[2016-02-23 19:23] rookie7799 opened #87 "can't find module 'pyspark_cassandra'"
Start pyspark:
spark-1.6.0-bin-hadoop2.6/bin/pyspark --packages com.datastax.cassandra:cassandra-driver-core:3.0.0,TargetHolding/pyspark-cassandra:0.2.1

...
16/02/23 11:15:18 INFO SparkContext: Added JAR file:/root/.ivy2/jars/TargetHolding_pyspark-cassandra-0.2.1.jar at http://10.5.7.51:50605/jars/TargetHolding_pyspark-cassandra-0.2.1.jar with timestamp 1456254918787
...
16/02/23 11:15:18 INFO Ut

[2016-02-23 19:31] frensjan commented on #87
Could you be so kind as to add a question / remark next time instead of just dropping a stacktrace? Thanks.

I recommend you do take a look at the latest version of pyspark_cassandra: http://spark-packages.org/package/TargetHolding/pyspark-cassandra (0.2.7).

[2016-02-23 19:32] frensjan commented on #66
v0.2.7 on http://spark-packages.org/package/TargetHolding/pyspark-cassandra supports python 3 out of the box (it's basically a merge of the sbt build with a python source distribution).

[2016-02-23 19:32] #66 closed

[2016-02-23 19:50] rookie7799 commented on #87
Appreciate the suggestion, however, I get the same outcome.

question/remark : it looks like a bug, so I submitted it. Obviously the question(s) is/are: what's wrong, how can it be resolved, etc etc.

[2016-02-23 20:01] rookie7799 commented on #87
Looks like I had to clear ~/.ivy2/jars/ dir and rerun. However, this presented a different "SyntaxError: invalid syntax". Should I post the error here or start a new Issue?

[2016-02-24 00:50] frensjan commented on #87
hi @rookie7799, thanks for the update. Could you give a full stacktrace of the error? Which line in what file is causing the syntax error? Can you provide details about your setup? E.g. what python version are you using?

[2016-02-24 01:26] rookie7799 commented on #87
Sure,
Running on CentOS release 6.6, using python 2.6.6; also, I've changed the params a bit:

`/bin/pyspark --packages com.datastax.cassandra:cassandra-driver-core:3.0.0 --jars pyspark-cassandra/target/scala-2.10/pyspark-cassandra-assembly-0.2.7.jar --py-files /root/pyspark-cassandra/python/dist/pyspark_cassandra-0.2.7-py2.6.egg --driver-class-path pyspark-cassandra/target/scala-2.10/pyspark-cass

[2016-02-29 11:17] frensjan commented on #68
@crorella no, there isn't at the moment unfortunately. A PR would be appreciated :)

[2016-03-01 22:46] pklemenkov opened #88 "PySpark Cassandra on YARN (shading guava)"
Hi!

I'm trying to use spark-cassandra-connector with Spark running on YARN and get the well known [Failed to open native connection bug](http://arjon.es/2015/10/12/making-hadoop-2-dot-6-plus-spark-cassandra-driver-play-nice-together/).

I'm not really into Scala, sbt and all that stuff. So my question is: does pyspark-cassandra provides guava shading? Can I just clone and build it to start using

[2016-03-02 06:45] frensjan commented on #88
I honestly don't know. Did you try to use the spark packages option?
[code]
You shouldn't need to clone and build. Note that this gives you access from python spark to cassandra. The datastax package should be used for Java / Scala.

[2016-03-02 13:44] pklemenkov commented on #88
Wow, thank you very much. It works!

[2016-03-02 13:45] frensjan commented on #88
Cool!

[2016-03-02 13:51] pklemenkov commented on #88
Just to make it clear for future reference. Spark is on YARN. I was trying to do something like this:
`IPYTHON_OPTS="notebook --ip='*'" pyspark --packages com.datastax.spark:spark-cassandra-connector_2.11:1.5.0,TargetHolding:pyspark-cassandra:0.2.7 --conf spark.
cassandra.connection="myips"`

And it didn't work, because connector couldn't open native connection. I removed explicit dependency for s

[2016-03-02 14:40] pklemenkov commented on #88
No, I was wrong. Everything works when you start Spark in local mode. And it worked before. But, if Spark runs on YARN it breaks.
Here is how I start it:
`IPYTHON_OPTS="notebook --ip='*'" pyspark --packages TargetHolding:pyspark-cassandra:0.2.7 --conf spark.cassandra.connection.host="myips" --master yarn`

Then I do this:
[code]

And get the folowing stack trace:
[code]

[2016-03-02 14:57] frensjan commented on #88
:( damn. The problem lies with the Spark Cassandra Connector by Datastax (in combination with Hadoop 2.6). As PySpark Cassandra as distributed through spark-packages.org has a regular dependency on it there isn't much that can be done here. A workaround could be to build PySpark Cassandra with the shading rules from the post you referenced in your initial post. Building the assembly is a matter of

[2016-03-02 14:58] frensjan commented on #88
Maybe file an issue with [Datastax](https://datastax-oss.atlassian.net/projects/SPARKC/issues/SPARKC-131?filter=allopenissues)?

[2016-03-02 15:09] pklemenkov commented on #88
It is already there https://datastax-oss.atlassian.net/browse/JAVA-916

[2016-03-02 15:12] pklemenkov commented on #88
I guess that I will try to rebuild PySpark Cassandra with shading and see what happens.

[2016-03-02 15:12] frensjan commented on #88
thanks, sorry, didn't look hard enough ;)
pitty that it's marked as won't fix ...

[2016-03-02 15:14] frensjan commented on #88
Please do! If that works I could look into shipping the Datastax connector within PySpark Cassandra, instead of as a dependency ... Not really fond of that option, but well ... if it could resolve this.

[2016-03-07 14:07] frensjan opened #89 "Can't pickle UUIDHolder"

[2016-03-07 14:19] frensjan commented on #89
See https://github.com/TargetHolding/pyspark-util/issues/2

[2016-03-07 14:23] #89 closed

[2016-03-12 22:20] raghavchalapathy opened #91 "Trying to Use Pyspark-Cassandra on Pycharm Editor"
Hi

I am trying to use Pyspark cassandra in pYcharm as below

Below are the configuration settings used

os.environ['SPARK_CLASSPATH'] = "//spark-1.6.0-bin-hadoop2.4/lib/mongo-hadoop-core-1.4.0.jar;//spark-1.6.0-bin-hadoop2.4/lib/mongo-hadoop-spark-2.0.0-SNAPSHOT.jar;//spark-1.6.0-bin-hadoop2.4/extra-lib/pyspark_cassandra-0.2.7.jar;//spark-1.6.0-bin-hadoop2.4/extra-lib/pyspark-cassandra-assembly-0

[2016-03-14 09:15] frensjan opened #92 "Registration of type converter for UUIDHolder causes stack overflow"
A type converter for ```UUIDHolder``` is registered every time the ```pyspark_cassandra.Pickling``` class is loaded. As this registration is not idempotent the list of known converters grows until evaluating the list of converters yields a StackOverflow:

[code]

The issue is only visible on very long jobs / after many jobs.

[2016-03-14 09:35] #44 closed

[2016-03-14 09:37] frensjan commented on #69
With release 0.3.1 Cassandra 3 is supported

[2016-03-14 09:37] #69 closed

[2016-03-14 09:40] frensjan commented on #83
Hi @dstlmrk thanks for raising the issue. Sorry for the late response. As you can see the root cause of the issue seems to be in ```com.datastax.spark.connector.writer.TableWriter$.checkMissingPrimaryKeyColumns```. This function performs the check as you described (that rows can only written with the full primary key available). As this check is done by Spark Cassandra Connector by Datastax (on wh

[2016-03-14 09:40] #83 closed

[2016-03-14 10:33] frensjan commented on #91
From what is in ```PYSPARK_SUBMIT_ARGS``` it seems like you are trying to start a pyspark shell. Are you? In that case you wouldn't even have to create a CassandraSparkContext. Just importing `pyspark_casandra` is enough to use ```sc.cassandraTable(...)```. Have you tried
[code]

If you want to submit a python script to Spark you should use:
[code]

Or are you creating a custom build? In that case

[2016-03-14 22:19] frensjan commented on #86
hi @kwin-wang could you post the exception and stack trace? I've added more tests to the UDT related test set and couldn't find any thing. Could you perhaps indicate what version of Cassandra, Spark and PySpark Cassandra you're using? Thanks

[2016-03-15 06:35] frensjan commented on #92
3.0.1 doesn't fix this :(

[2016-03-15 06:36] #92 closed

[2016-03-15 10:02] #88 closed

[2016-03-15 10:05] frensjan commented on #87
This is an issue with python 2.6 which unfortunately isn't supported. I currently don't have any means of testing for this python version.

[2016-03-15 10:05] #87 closed

[2016-03-15 10:06] #43 closed

[2016-03-15 10:07] #34 closed

[2016-03-16 07:28] kwin-wang commented on #86
hi

*cassandra and spark version*

➜  ~ cqlsh --version
cqlsh 5.0.1
➜  ~ cassandra -h
Usage: /usr/local/Cellar/cassandra/2.2.3/libexec/bin/cassandra [-f]
[-h] [-p pidfile] [-H dumpfile] [-E errorfile]
➜  ~ spark -v
zsh: command not found: spark
➜  ~ spark --version
zsh: command not found: spark
➜  ~ spark-submit --version
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/

[2016-03-16 08:35] frensjan commented on #86
The stack trace indicates that ```com.datastax.spark.connector.ColumnNotFoundException``` can't be found. What way are you submitting your script? Are you using the --packages option? What version of pyspark-cassandra are you using? Are you also including the datastax spark cassandra connector package?

```com.datastax.spark.connector.ColumnNotFoundException``` is in ```com/datastax/spark/connecto

[2016-03-16 08:35] frensjan commented on #86
(sorry didn't mean to close the issue just yet)

[2016-03-16 09:24] kwin-wang commented on #86
I  only run python code step by step in iPython

[code]

Frens Jan Rumph <notifications@github.com>于2016年3月16日周三 下午4:35写道：

[2016-03-16 09:25] frensjan commented on #86
I wouldn't expect this. But anyway, could you try with the latest version (0.3.2)?
[code]

[2016-03-16 09:28] kwin-wang commented on #86
ok, let me try this and I will report the result for you if it's ok.

Frens Jan Rumph <notifications@github.com>于2016年3月16日周三 下午5:25写道：

[2016-03-16 09:30] frensjan commented on #86
I assume by the way that if your using pyspark (the interactive python spark shell) you are not using the code below:
[code]
If you are .... there shouldn't be any need to. For one, setting ```spark.cassandra.connection.host``` to ```localhost``` is redundant as it is the default. But more importantly, there is no need to create a new CassandraSparkContext in the pyspark shell. Just use:
[code]

[2016-03-16 09:40] kwin-wang commented on #86
thanks for your suggesting!
that’s only a example for test. In fact, I will build the context by
wrapper a function not only use it in ipython.

it’s still crash. the stack trace is:

In [18]: from pyspark import SparkConf, SparkContext

In [19]: import pyspark_cassandra as pc

In [20]: from datetime import *

In [21]:

In [21]:

In [21]: if sc and isinstance(sc, SparkContext):
   ....:         sc

[2016-03-16 09:44] frensjan commented on #86
Hmm, I'm not sure, but stopping and then starting the SparkContext may have something to do with this ... Could you try without that part? I'll try on my end as well.

[2016-03-16 09:49] kwin-wang commented on #86
ok, I will try it.

Frens Jan Rumph <notifications@github.com>于2016年3月16日周三 下午5:44写道：

[2016-03-16 09:57] kwin-wang commented on #86
it's still crash when I run the code in your way.

Wang Yajun <kwin.wang@gmail.com>于2016年3月16日周三 下午5:49写道：

[2016-03-17 19:48] konstantinberlin opened #93 "Pickling exception after using joinWithCassandraTable"
The following lines of code causes issues with spark 1.6.1:

[code]

name is text, and the table has several blobs, text, and float columns

Causes this:

[code]

[2016-03-17 19:58] frensjan commented on #93
Thanks @konstantinberlin. Could you provide the schema for your tables and perhaps some example insert statements? Makes reproducing the error easier. Thanks in advance!

[2016-03-17 20:03] konstantinberlin commented on #93
Here it is

[code]

[2016-03-18 09:15] #93 closed

[2016-03-18 09:37] frensjan commented on #93
I'll publish v0.3.4 soon with the fix

[2016-03-18 11:27] chernals opened #94 "Pickler exception"
I'm not sure I'm reporting this correctly, please request additional information if needed.

I'm trying to use a "small" table to avoid a full table scan of my "big" table. Doing this

[code]

With 'beamstamp' being the partition key of the "beams" table. Do I understand this correctly?

I got the following exception:

[code]

[2016-03-18 11:50] frensjan commented on #94
Could this be the same as #93? This issue was just fixed and v0.3.4 was released minutes ago: on http://spark-packages.org/package/TargetHolding/pyspark-cassandra. Could you give that a go?

If v0.3.4 doesn't fix this issue, could you provide create table statements for both tables and some inserts with example data?

[2016-03-18 11:51] frensjan commented on #94
As for your setup: yes this should work, at least as far as I can tell. I'm not so sure about the where clause. Is that a clustering column?

I do think there is a typo in the snippit, but that's probably just because its an example for the ticket:
[code]
The quoting is wrong. Perhaps this:
[code]
is even better.

Also, you may want to include .on("beamstamp") to make sure you join on the right co

[2016-03-18 11:52] frensjan commented on #93
Version 0.3.4 was released on http://spark-packages.org/package/TargetHolding/pyspark-cassandra Could you assert that this version resolves your issue?

[2016-03-18 13:03] konstantinberlin commented on #93
Seemed to have solved my issues. Thank you for the quick turnaround.

Just a sidenote,
I get warnings like this, maybe some resources are potentially leaking.

 2016-03-18 09:00:40,853 [Thread-3] WARN  org.apache.spark.util.ClosureCleaner - Expected a closure; got pyspark_util.BatchUnpickler
2016-03-18 09:00:40,870 [Thread-3] WARN  org.apache.spark.util.ClosureCleaner - Expected a closure; got pys

[2016-03-18 14:07] frensjan commented on #93
Great! Glad I could help out.

As for the warnings: I've seem them to and don't think they are correct and have filed an issue, unfortunately without much response: https://issues.apache.org/jira/browse/SPARK-11630

The check is:
[code]
which in my opinion is a bit blunt ...

[2016-03-18 14:50] chernals commented on #94
It was apparently the same problem as #93 and v0.3.4 solved the problem! I should have checked if there was a more recent version. Thanks so much!

Concerning my use case, the `where` was indeed incorrectly written in the example.

One more question: the first RDD coming from the `timeseries` table will be on a single node (as all the `beamstamps` will come from the same partition). Is that correc

[2016-03-21 08:28] frensjan commented on #94
Great!

As for your question: if you restrict an RDD with a where clause on the partition key, then yes, all rows will be located in one and the same RDD partition and thus reside on the same machine.

You could test with something like:
[code]
That should yield only ```0``` as that would be the index of the one and only partition in the RDD.

Joining an RDD with Cassandra will maintain the same p

[2016-03-21 08:28] #94 closed

[2016-03-22 07:03] chernals commented on #94
Thanks for your answers. Is there a way to repartition the original RDD (keys from a single partition in my case) so that the joined RDD does not involve moving the other part of the join?

[2016-03-23 19:07] seufagner commented on #34
How do you solve this problem @mjhb  ?

[2016-03-24 08:04] thesebas opened #95 "Support for Materialized View"
I see that Cassandra 3.x is supported but when trying to read from Materialized View got error:

: java.io.IOException: Couldn't find VIEW_NAME or any similarly named keyspace and table pairs

Seems that `spark-cassandra-connector-java` need to be updated to 1.6.

[2016-03-25 09:41] frensjan commented on #95
Indeed. However, only an M1 release is available. Up until now, I have waited with updating ```spark-cassandra-connector``` until an actual release is done.

[2016-03-31 22:34] venuktan opened #96 "where do I specify the ip address of my cassandra cluster?"
I am trying to use this package from a databricks cloud spark cluster, and I am trying to write the data to a cassandra cluster on AWS.

Thank you

[2016-03-31 23:09] frensjan commented on #96
Configure ```spark.cassandra.connection.host``` as shown in the readme.

[2016-03-31 23:09] #96 closed

[2016-04-01 21:37] venuktan commented on #96
yes, I got that part.
How do I do that on databricks, the databricks env comes with a pre set sparkConf.
How do I set the "spark.cassandra.connection.host" in that case.

[2016-04-05 09:34] frensjan commented on #96
I honestly don't know. I'm not a databricks user.

[2016-04-05 14:49] seufagner commented on #52
I got the same error, at the same context, running on Spark 1.6.1

pyspark_cassandra supports this Spark version?

[2016-04-05 15:16] seufagner opened #97 "Syntax error using 0.2.7 version"
I found an issue when tried to run a Spark job (v 1.6.1) using 0.2.6 version like below

spark-submit --master spark://x.x.x.x:7077 --packages com.datastax.spark:spark-cassandra-connector_2.10:1.4.0,TargetHolding/pyspark-cassandra:0.2.6 --conf spark.cassandra.connection.host=$CASSANDRA_HOST search_metrics.py
[code]

Then I try to use 0.2.7 version, with the same command (changing pyspark_cassandra

[2016-04-05 16:12] frensjan commented on #97
Hi @seufagner, the problem is unfortunately in the lack of support for python 2.6, not Spark 1.6.1.

[2016-04-05 16:13] frensjan commented on #97
0.3.5 is a more current version by the way (which isn't py 2.6 compatible either ... but still)

[2016-04-05 17:13] seufagner commented on #97
You're right @frensjan, thank you.

spark-ec2 script creates a cluster using py 2.6 by default. Just update to 2.7 and all works fine. For someone that wants solve this at the same scenario, I leave the tip:

** Don't try uninstall py 2.6, it removes some dependencies and your node crashes.

Instead, use this workaround
[code]
And edit your spark-env.sh to export PYSPARK_PYTHON=python2.7

[2016-04-05 18:00] #97 closed

[2016-04-06 09:18] frensjan commented on #94
Hi @chernals not at the moment unfortunately. But there is a ticket open for this feature (in other words its on my whish list).

[2016-04-11 17:12] chernals commented on #94
Great, I hope your wish comes live soon ;)

[2016-04-18 18:28] codydcoder opened #98 "python/pyspark_cassandra/tests.py UUID fails"
I run the tests, but 2 fail - both have to do with inability to convert UUID (here's one):

Python 2.7.10, spark-1.6.0, Cass: 2.2.5, java 1.8.0_74, compiled from latest git clone,

======================================================================
ERROR: test_uuid (__main__.SimpleTypesTest)
----------------------------------------------------------------------
Traceback (most recent call last)

[2016-04-22 08:36] affablekarthik opened #99 "Error occured while calling saveToCassandra"
[code]

[2016-04-22 21:07] frensjan commented on #99
Known issue in the combination of Spark Cassandra Connector (on which PySpark Cassandra builds) and Guava: https://datastax-oss.atlassian.net/browse/SPARKC-355. Will fix if a new version of Spark Cassandra Connector is released.

[2016-04-22 21:08] frensjan commented on #99
Depending on your use case, a work around could be to not run on YARN or combine with any software which could result in Guava version conflicts.

[2016-04-22 21:08] #99 closed

[2016-04-23 03:12] affablekarthik opened #100 "An error occurred while calling o39.saveToCassandra"
**When I am trying to insert the dictionary variable into cassandra I am getting the following error:**

Traceback (most recent call last):
  File "/root/telematics/kafka_wordcount.py", line 67, in <module>
    myRow.saveToCassandra('telematics','wc')
  File "/root/.ivy2/jars/TargetHolding_pyspark-cassandra-0.3.5.jar/pyspark_cassandra/streaming.py", line 33, in saveToCassandra
  File "/usr/local/s

[2016-04-23 04:18] #100 closed

[2016-04-23 04:21] affablekarthik commented on #99
I am not running the job on YARN i am submitting the a standalone job without any hadoop environment only.

[2016-04-28 22:23] nanounanue opened #101 "Problems from pyspark shell reading from Cassandra"
I am trying to use the following code:

[code]

And I got this error:

[code]

If I try to use this code

[code]
I got

[code]

I am starting the `pyspark` with the following:

[code]

What I am doing wrong?

[2016-04-28 22:30] nanounanue commented on #101
I believe that the problem is the version of `scala` (after reading this: https://stackoverflow.com/questions/33417341/connecting-integrating-cassandra-with-spark-pyspark ) (I made the change `2.11 -> 2.10` and it worked

Is it right?

Thanks

[2016-04-29 06:17] frensjan commented on #101
pyspark cassandra is indeed currently only build for Scala 2.10

[2016-04-29 13:54] nanounanue commented on #101
Thank you :)

[2016-04-29 13:54] #101 closed

[2016-06-13 08:37] zbence opened #103 "Is saveToCassandra really this lossy?"
Hy!

I trying to insert 8gigs of textfile into Cassandra with the saveToCassandra method. The spark stage says the output size is around 9gigs but the Cassandra nodetool status command says the load is just  sum up to 100 mb on three Cassandra instances. I counted the number of rows I have in Cassandra and it much less than I really have.

Any suggestion why am I losing data when calling this save

[2016-06-13 14:05] zbence commented on #103
Ok, no worries. I just messed up the id generation so I overwrite my existing rows.

[2016-06-13 14:05] #103 closed

[2016-06-14 14:05] frensjan commented on #103
:) cool, thanks for closing the issu!

[2016-06-16 12:07] bteeuwen commented on #56
Maybe this works;
[code]

[2016-06-16 12:33] bteeuwen opened #104 "Writing doesn't work; reading does"
Hi,

I'm using Spark on top of YARN and trying to read and write to a Cassandra table.
Reading works fine, but writing fails.

Interactive shell session launched with:
[code]

That shaded datastax connector jar is built using sbt assembly and the fix at https://datastax-oss.atlassian.net/browse/SPARKC-355.

When reading, it works:
[code]

When writing, it fails:
[code]
I'm getting:
[code]

I'm puz

[2016-06-16 13:16] frensjan commented on #104
With which version of pyspark cassandra are you experiencing this?

[2016-06-16 17:22] bteeuwen commented on #104
Ok; I'm trying to build a fat jar including pyspark-cassandra connector. How do I reference to this repo correctly in the .sbt file? Now I have:

[code]

[2016-06-16 21:39] frensjan commented on #104
To be honest, I'm no Scala / SBT guru. But afaik %% means to include the scala version in the dependency name, and % doesn't. As pyspark cassandra isn't packaged per scala version right now, it should probably be %.

Also you should somehow include the bintray maven repository for spark-packages. (e.g. the jar is available on http://dl.bintray.com/spark-packages/maven/TargetHolding/pyspark-cassand

[2016-06-17 12:28] bteeuwen commented on #104
Thanks for the hint on the bintray repo.
I was able to build a fat jar by running 'sbt assembly' on this build.sbt file:

[code]

I did see 2 incompatibilities while assembling:
[code]

Maybe that is related?

[2016-06-17 12:36] bteeuwen commented on #104
Ok, rebuilt the fat jar and changed to 1.6.0-M1; that worked. Thanks frensjan for helping out!

[2016-06-17 12:36] #104 closed

[2016-06-17 12:38] frensjan commented on #104
Glad I could help! Once 1.6.0 (or the M3) is released I'll pull it in pyspark cassandra.

[2016-06-22 12:49] yetanotherion commented on #98
I reproduce the issue when trying to insert a value
[code]
with the method
[code]

on a table like
[code]

[2016-06-22 12:53] frensjan commented on #98
thanks! yes ... this issue has been bugging me for some time as well, but I've had to work around it for time sake. My workaround is to save it as string, not as uuid object.

[2016-06-22 14:19] yetanotherion commented on #98
Thanks for the input !

The bug may be related to this one, where they suggest to convert to an integer instead of using
uuids
https://mail-archives.apache.org/mod_mbox/cassandra-user/201605.mbox/%3CCAKgmDnFO4TwkUP+1RaLA6119G39_iJPzeCPVd3LfZZnTDQwGAw@mail.gmail.com%3E

The workaround you suggest consists at changing the timeuuid type to text in the CREATE TABLE
above ?

If so, the <= operator on W

[2016-06-22 18:30] frensjan commented on #98
No, the workaround is to have the uuid as a string in the RDD when saving to Cassandra. Its converted further down the write path.

[2016-06-22 18:31] frensjan commented on #98
(sorry, wrong button, didn't mean to close the issue)

[2016-06-28 23:55] joaquin386 opened #106 "pyspark-cassandra 0.3.5 Spark1.6 Cassandra 3.0.5"
This spark-submite script give execeptions:

from pyspark_cassandra import CassandraSparkContext, Row
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

conf = SparkConf().setAppName("test").setMaster("spark://192.168.23.31:7077").set("spark.cassandra.connection.host", "192.168.23.31")

sc = CassandraSparkContext(conf=conf)

table = sc.cassandraTable("lebara_diameter_c

[2016-06-29 22:20] joaquin386 commented on #106
Also trying to pyspark the --package:

hadoop@testbedocg:/mnt/spark> pyspark --packages TargetHolding/pyspark-cassandra:0.3.5
Python 2.7.11 (default, May 26 2016, 19:51:40)
[GCC 4.3.4 [gcc-4_3-branch revision 152973]] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Ivy Default Cache set to: /home/hadoop/.ivy2/cache
The jars for the packages stored in: /home/hadoop/

[2016-06-29 22:47] joaquin386 commented on #106
Problem solved:
pyspark --packages com.datastax.spark:spark-cassandra-connector_2.10:1.6.0 --jars /mnt/spark/lib/TargetHolding_pyspark-cassandra-0.3.5.jar

[2016-07-04 03:17] dan-boa commented on #35
@rahulfission I am also facing the same issue. Where you able to fix it. If so could you please mention it here.

[2016-07-04 06:06] frensjan commented on #35
What versions are you using?

[2016-07-04 06:38] dan-boa commented on #35
pyspark-cassandra:0.3.5
spark: 1.6.2
cassandra: 3.7

I was able to successfully fetch data from Cassandra when i used pyspark-shell. But when i write a standalone script and then run the exact same code. It gives be the above mentioned error.

[2016-07-14 03:33] avatarzhang opened #107 "Lost executor d on x.x.x.x: remote Rpc client disassociated"
rdd = a.joinWithCassandraTable(ks, b)
print rdd.take(10)

[code]

[2016-07-14 03:34] avatarzhang commented on #107
i used TargetHolding:pyspark-cassandra:0.3.5, dse 4.8

[2016-07-14 03:36] avatarzhang commented on #107
@frensjan thanks for your review

[2016-07-14 04:03] avatarzhang commented on #93
@frensjan , can you do the same to 0.2.x?

[2016-07-14 07:40] frensjan commented on #107
@avatarzhang do you have any logs relating to the lost executors? The stacktrace you posted is rather general.

[2016-07-14 07:45] frensjan commented on #93
@avatarzhang currently there is only one 'branch' for pyspark cassandra which I try to maintain.

[2016-07-14 08:21] avatarzhang commented on #107
this is related to spark version. i am on 1.4 but 0.3.5 need 1.5+.

[2016-07-14 09:30] avatarzhang commented on #93
but i am on 1.4, so need a workaround for this. thanks

[2016-07-22 03:36] leninlal opened #108 "Python worker exited unexpectedly (crashed)"
i was trying to connect to a cassandra table using pyspark_cassandra from ipython shell.
[code]

[2016-07-22 07:35] frensjan commented on #108
Can you share the schema of the table you're trying to scan? There's probably something going on with serialization.

[2016-07-24 13:01] leninlal commented on #108
@frensjan sorry for the late response, schema looks like this,( i used dataframe.printschema() method)
root
 |-- also_viewed: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- courses: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- competencies: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |

[2016-07-24 21:50] frensjan commented on #108
Do you have the Cassandra schema? I'm not sure for each and every one of the types how they relate to Cassandra / Java / Python types.

[2016-07-25 06:21] leninlal commented on #108
i'm attaching a file , which describes the entire keyspace

[schema.txt](https://github.com/TargetHolding/pyspark-cassandra/files/380860/schema.txt)

[2016-07-25 08:15] frensjan commented on #108
Thanks. That's quite the schema :) I'm really not sure what should go wrong. UDT's are supported and covered by test cases. There are some issues with UUID's, but most if not all of the fields are of type text.

Not sure how to go forward from here. I don't have data to replicate the issue. Some script to reproduce the issue would be really helpful. Or you could try something like ```sc.cassandraT

[2016-07-25 09:29] leninlal commented on #108
these are the field i want : 'url','given_name','family_name','industry','locality','experience','linkedin_id','education'.
first i checked with excluding education
[code]

Then i checked with 'education' field.
[code]

i guess education field in causing the trouble.

[2016-07-25 09:47] frensjan commented on #108
Interesting! ```education``` is a list of UDT's just as ```experience```! ```experience``` is even more complex as it nests UDT's in a second layer. ```education``` nests a list of ```text```. That's the only thing I can spot now.

Can you tel me what data would be in that first record for the ```eduction``` field?

[2016-07-25 09:52] leninlal commented on #108
its empty.
`[{degree: '', degrees: [], details: '', end: '', grade: '', major: '', name: '', profile_url: '', start: '', summary: ''}]`

[2016-07-25 10:34] frensjan commented on #108
You could get that with pyspark cassandra? (the formatting sort of suggests that)

[2016-07-25 10:35] leninlal commented on #108
no, i got this from `cqlsh`

[2016-07-25 10:39] frensjan commented on #108
ok, just checking :) and this is definitely the same row?

Perhaps you could provide a script or something which replicates the issue? Because I can't reproduce it locally. thanks.

[2016-07-28 22:18] AlessioXM opened #109 "Compatibility Spark 2.0?"
Not a proper issue, I know, though I was wondering whether pyspark-cassandra works with Spark 2.0?

Anybody had a chance to test it?

I'm working on a project which involves Cassandra and Spark and I'm not sure whether to update or not.

[2016-07-28 22:36] frensjan commented on #109
I haven't :)

[2016-07-30 02:02] ericywho opened #110 "SparkConf() not resolved"
I must be doing something wrong here.
I've community Cassandra 3.7, Spark 1.6.2
Here is what I got:
-------

ubuntu@:~/spark-1.6.2-bin-hadoop2.6$ ./bin/pyspark --packages TargetHolding/pyspark-cassandra:0.3.5
Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.
Ivy Default Cache set to: /home/ubuntu/.ivy2/cache
T

[2016-07-30 11:41] frensjan commented on #110
did you import ```SparkConf```?

[2016-08-04 21:07] danielrmeyer opened #111 "unable to import pyspark_cassandra"
`spark version 2.0.0`
`PYSPARK_DRIVER_PYTHON=ipython pyspark --packages TargetHolding:pyspark-cassandra:0.3.5`

Then inside the interactive shell:
[code]

[2016-08-04 21:57] danielrmeyer commented on #111
I verified that this does in fact work with spark 1.6.0 so this must be a bug in spark 2.0.0.

[2016-08-04 23:27] danielrmeyer commented on #111
I apologize for all the noise here.  This does in fact work with spark 2.0.0.  The issue I am having happens on Amazon ECR specifically.  I found that with a standalone spark install on an EC2 instance everything works, but on ECR it does not work regardless of spark version.  So the issue here has something to do with ECR.

[2016-08-05 05:35] frensjan commented on #111
No worries, good to hear to you've got it working?

[2016-08-05 06:55] frensjan commented on #111
Standalone that is ... I have no knowledge on using this on ECR. If you find root cause or better still a solution, let me know.

[2016-08-11 09:32] kxepal commented on #69
@frensjan When 0.3.1 release will happen? Or why there is 0.3.5 in version file while there is no any git tag about?

[2016-08-11 15:38] wshayes commented on #109
Was trying to compile with scala 2.11 to try it out on Spark 2.0 (since the default build of Spark 2.0 is based on scala 2.11), but I didn't get anywhere with it.  It definitely won't compile using the master branch using sbt compile with the build.sbt containing scalaVersion := "2.11.8"

[2016-08-11 19:43] frensjan commented on #69
Sorry bout that, 0.3.5 is released, just no tag. See http://spark-packages.org/package/TargetHolding/pyspark-cassandra

[2016-08-12 04:35] kxepal commented on #69
Oh, there is a package! May be it will help to avoid shading issue. Thanks a lot for a link!

[2016-08-16 21:39] scott-hand commented on #111
+1 here. Spark 2.0 deployed via AWS EMR produces:

[code]

[2016-08-17 06:52] davidzhao commented on #109
We upgraded to Spark 2.0 and looks like this is failing. Seems they changed the java side of things on the cassandra adapter so it'll require an update here.

[2016-08-18 21:47] danielrmeyer commented on #111
Yep, that is exactly what I was seeing with ECR.  I'm running spark on my own EC2 instance now rather than ECR, so I probably won't be able to swing back and root cause this.

[2016-09-02 07:40] orencp opened #112 "AbstractMethodError while using pyspark with cassandra"
Hi
I'm new with pyspark and cassandra so your help is deeply appreciated !
I'm running on Cloudera quickstart VM 5.7
Spark 1.6.0 (compiled with scala 2.10)
Cassandra 3.0.8
Python 2.7.8

I'm running with spark shell.
I'm trying to get "my_table" content (it has only 1 simple record) :

rdd = sc.cassandraTable("my_keyspace", "my_table")
rdd.count()

I'm using the following JARs:
pyspark-cassandra-0.

[2016-10-04 08:45] chy168 commented on #109
HI,
I just update some code to chy168/pyspark-cassandra@a2617928.
I'm not familiar with Scala, so my purpose is trying to build pass for Spark-2.0 (build with scala-2.10).
I've tested on my cluster (Spark-2.0 built with hadoop2.6 / scala-2.10).

[2016-10-10 13:04] ArslanSaleem opened #113 "Pyspark-cassandra issue"
Currently i m pyspark cassandra connector and i am having this issue when i run this code.
**x=sc.cassandraTable("flspark", "raw")**
This is the error that i am getting
 **File "/usr/local/lib/python2.7/dist-packages/py4j/protocol.py", line 319, in get_return_value
    format(target_id, ".", name), value)
py4j.protocol.Py4JJavaError: An error occurred while calling o22.loadClass.
: java.lang.Class